{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('import-scss/user/project/fiche_projet') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('front/organization/collaborateurs') }}
{% endblock %}

{% block title %}Mes collaborateurs | {{ parent() }}{% endblock %}

{% block body %}


<div class="fr-container fr-mb-5w fr-mt-0">
    <div class="fr-grid-row">

        {% include "user/_menu_user.html.twig" with { structure:true, structure_collab:true } %}
        <div class="fr-col-12 fr-col-md-9">
            <h1 class="fr-h3 fr-col">
                Mes collaborateurs
                <button class="fr-m-1w fr-tag _fr-tag--md fr-text--sd fr-icon-information-line _fr-tag--icon-left" id="help-collaborators-modal-btn" data-fr-opened="false" aria-controls="help-collaborators-modal">
                    <span class="fr-ml-1w">Aide</span>
                </button>
            </h1>

            <div class="fr-tabs fr-mt-0w fr-mb-5w">
                {% include 'organization/organization/_menu_organization.html.twig' with { organization_collaborateurs: true} %}

                <div id="tabpanel_collaborateurs" class="fr-tabs__panel" role="tabpanel" aria-labelledby="tabpanel_collaborateurs" tabindex="0">
                    <p>Pour la structure <strong>{{ organization.name }}</strong></p>

                    <div class="fr-alert fr-alert--info fr-alert--sm fr-my-2w">
                        <p>
                            Vos collaborateurs pourront mettre à jour les informations de votre structure et participer à la gestion des aides et des projets.
                        </p>
                    </div>

                    {% if userAdminOf %}
                        {{ form_start(formAccesses) }}
                            <div class="fr-table">
                                <table class="data-table">
                                    <caption>
                                        Liste des membres de la structure
                                    </caption>
                                    {% include 'organization/organization/_collaborteurs_thead.html.twig' %}
                                    <tbody>
                                        {% for organizationAccess in formAccesses.organizationAccesses %}
                                            <tr>
                                                <td>
                                                {% if organizationAccess.vars.value and organizationAccess.vars.value.user %}
                                                    {{ organizationAccess.vars.value.user.firstname }} {{ organizationAccess.vars.value.user.lastname }}<br />
                                                    {{ organizationAccess.vars.value.user.email }}
                                                {% endif %}
                                                </td>
                                                <td>
                                                {{ form_row(organizationAccess.administrator) }}</td>
                                                <td>{{ form_row(organizationAccess.editAid) }}</td>
                                                <td>{{ form_row(organizationAccess.editPortal) }}</td>
                                                <td>{{ form_row(organizationAccess.editBacker) }}</td>
                                                <td>{{ form_row(organizationAccess.editProject) }}</td>
                                                <td>
                                                    {% if organizationAccess.vars.value.user and not userAdminOfOrganization(organizationAccess.vars.value.user, organization) %}
                                                        <button type="button" class="fr-icon-delete-line btn-delete-collaborator">Supprimer</button>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                            <div class="fr-grid-row fr-grid-row--gutters fr-mb-10w ">
                                <div class="fr-col">
                                    <button type="submit" class="fr-btn fr-btn--icon-left fr-icon-save-fill">
                                        Enregistrer les modifications
                                    </button>
                                </div>
                                <div class="fr-col">
                                    <button type="button" class="fr-btn fr-btn--icon-left fr-icon-add-line" data-fr-opened="false" aria-controls="invite-collaborator-modal">
                                        Ajouter un collaborateur
                                    </button>
                                </div>
                            </div>
                        {{ form_end(formAccesses) }}
                    {% else %}
                            <div class="fr-table">
                                <table class="data-table">
                                    <caption>
                                        Liste des membres de la structure
                                    </caption>
                                    {% include 'organization/organization/_collaborteurs_thead.html.twig' %}
                                    <tbody>
                                        {% for organizationAccess in organization.organizationAccesses %}
                                            <tr>
                                                <td>
                                                {% if organizationAccess.user %}
                                                    {{ organizationAccess.user.firstname }} {{ organizationAccess.user.lastname }}<br />
                                                    {{ organizationAccess.user.email }}
                                                {% endif %}
                                                </td>
                                                <td class="text-center">{% if organizationAccess.administrator %}<span class="fr-icon-success-line" aria-hidden="true"></span>{% endif %}</td>
                                                <td>{% if organizationAccess.editAid %}<span class="fr-icon-success-line" aria-hidden="true"></span>{% endif %}</td>
                                                <td>{% if organizationAccess.editPortal %}<span class="fr-icon-success-line" aria-hidden="true"></span>{% endif %}</td>
                                                <td>{% if organizationAccess.editBacker %}<span class="fr-icon-success-line" aria-hidden="true"></span>{% endif %}</td>
                                                <td>{% if organizationAccess.editProject %}<span class="fr-icon-success-line" aria-hidden="true"></span>{% endif %}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                    {% endif %}

                    <div class="fr-table">
                        <table class="data-table">
                            <caption>
                                Liste des personnes invitées
                            </caption>
                            <thead>
                                <tr>
                                    <th scope="col">Nom</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Fonction</th>
                                    <th scope="col">Invitée le</th>
                                    <th scope="col">Statut</th>
                                </tr>
                            </thead>
                            {% if collaborators|length > 0 %}
                            <tbody>
                                {% for collaborator in collaborators %}
                                <tr>
                                    <td>
                                        {% if collaborator.email == app.user.email %}
                                            Vous
                                        {% else %}
                                            {{ collaborator.name }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ collaborator.email }}
                                    </td>
                                    <td>
                                    {% if collaborator.role != '' %}
                                        {{ collaborator.role }}
                                    {% else %}
                                        Ce collaborateur n’a pas encore renseigné sa fonction
                                    {% endif %}
                                    </td>
                                    <td>
                                        {{ collaborator.dateInvite }}
                                    </td>
                                    <td>
                                        {{ collaborator.status}}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            {% else %}
                            <tbody>
                                <tr>
                                    <td colspan="5" class="at-centered-important">
                                        Vous n’avez aucun collaborateur pour le moment
                                    </td>
                                </tr>
                            </tbody>
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block modal %}
<dialog aria-labelledby="fr-modal-title-invite-collaborator" role="dialog" id="invite-collaborator-modal" class="fr-modal">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button class="fr-btn fr-btn--close" title="Fermer la fenêtre modale" aria-controls="invite-collaborator-modal">Fermer</button>
                    </div>
                    <div class="fr-modal__content">
                        <h2 id="fr-modal-title-invite-collaborator" class="fr-modal__title fr-mb-5w"><span class="fr-icon-arrow-right-line fr-icon--lg"></span>Ajouter un collaborateur</h2>
                        <p>Entrez les informations de la personne que vous souhaitez ajouter à votre structure pour que nous lui envoyions une invitation par email.</p>
                        <p>Les champs marqués d’un astérisque (*) sont obligatoires.</p>
                        {{ form_start(formInvitation) }}            
                            <div class="content">
                                {{ form_row(formInvitation.firstname )}}
                                {{ form_row(formInvitation.lastname )}}
                                {{ form_row(formInvitation.email )}}
                                {% if formInvitation.organization is defined %}
                                    {{ form_row(formInvitation.organization ) }}
                                {% endif %}
                                <footer>
                                    <button class="fr-btn fr-mt-2w" type="submit">
                                        Inviter ce collaborateur
                                    </button>
                                </footer>
                            </div>
                        {{ form_end(formInvitation)}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>


<dialog aria-labelledby="fr-modal-title-collaborators" role="dialog" id="help-collaborators-modal" class="fr-modal">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button class="fr-btn fr-btn--close fr-link" title="Fermer la fenêtre modale" aria-controls="help-collaborators-modal">Fermer</button>
                    </div>
                    <div class="fr-modal__content">
                        <h2 id="fr-modal-title-collaborators" class="fr-modal__title fr-mb-5w"><span class="fr-icon-arrow-right-line fr-icon--lg"></span>Que pouvez-vous faire ici ?</h2>

                            <section>
                                <div class="content">
                                    <p>Cette page vous permet de gérer les différents collaborateurs de votre structure.</p>
                                    <p>Toutes les personnes invitées vont pouvoir consulter et enrichir les mêmes projets que vous.</p>
                                </div>
                            </section>
                    </div>
                    <footer>
                        <ul class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg fr-btns-group--icon-left">
                            <li>
                                <button class="fr-btn fr-mb-5w fr-mr-5w" title="Fermer la fenêtre modale" aria-controls="help-collaborators-modal">Fermer</button>
                            </li>
                        </ul>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</dialog>

<dialog aria-labelledby="fr-modal-title-collaborators" role="dialog" id="exclude-collaborators-modal" class="fr-modal">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button class="fr-btn fr-btn--close fr-link" title="Fermer la fenêtre modale" aria-controls="exclude-collaborators-modal">Fermer</button>
                    </div>
                    <div class="fr-modal__content">
                        <h2 id="fr-modal-title-collaborators" class="fr-modal__title fr-mb-5w"><span class="fr-icon-arrow-right-line fr-icon--lg"></span>Exclure ?</h2>

                            <section>
                                <div class="content">
                                    <p>En excluant ce collaborateur il perdra l'accès à tous les projets de l'organization.</p>
                                </div>
                            </section>
                    </div>
                    <footer>
                        <ul class="fr-btns-group fr-btns-group--inline fr-btns-group--right fr-pr-5w">
                            <li>
                                <button class="fr-btn fr-btn--secondary fr-mr-5w" title="Fermer la fenêtre modale" aria-controls="exclude-collaborators-modal">Annuler</button>
                            </li>
                            <li>
                                <a href="#" class="fr-btn" id="btn-confirm-exclude">
                                    Exclure
                                </a>
                            </li>
                        </ul>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</dialog>

<dialog aria-labelledby="fr-modal-title-collaborators-admin" role="dialog" id="admin-collaborators-modal" class="fr-modal">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button class="fr-btn fr-btn--close fr-link" title="Fermer la fenêtre modale" aria-controls="admin-collaborators-modal">Fermer</button>
                    </div>
                    <div class="fr-modal__content">
                        <h2 id="fr-modal-title-collaborators" class="fr-modal__title fr-mb-5w"><span class="fr-icon-arrow-right-line fr-icon--lg"></span>Administrateur</h2>

                            <section>
                                <div class="content">
                                    <ul>
                                        <li>Peu éditer la fiche de la structure</li>
                                        <li>Peu ajouter ou retirer des collaborateurs</li>
                                    </ul>
                                </div>
                            </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>

<dialog aria-labelledby="fr-modal-title-collaborators-edit-aid" role="dialog" id="edit-aid-collaborators-modal" class="fr-modal">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button class="fr-btn fr-btn--close fr-link" title="Fermer la fenêtre modale" aria-controls="edit-aid-collaborators-modal">Fermer</button>
                    </div>
                    <div class="fr-modal__content">
                        <h2 id="fr-modal-title-collaborators" class="fr-modal__title fr-mb-5w"><span class="fr-icon-arrow-right-line fr-icon--lg"></span>Aides</h2>

                            <section>
                                <div class="content">
                                    <ul>
                                        <li>Peu publier et modifier les aides de la structure</li>
                                    </ul>
                                </div>
                            </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>

<dialog aria-labelledby="fr-modal-title-collaborators-edit-portal" role="dialog" id="edit-portal-collaborators-modal" class="fr-modal">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button class="fr-btn fr-btn--close fr-link" title="Fermer la fenêtre modale" aria-controls="edit-portal-collaborators-modal">Fermer</button>
                    </div>
                    <div class="fr-modal__content">
                        <h2 id="fr-modal-title-collaborators" class="fr-modal__title fr-mb-5w"><span class="fr-icon-arrow-right-line fr-icon--lg"></span>Portails</h2>

                            <section>
                                <div class="content">
                                    <ul>
                                        <li>Peu modifier les portails de la structure</li>
                                    </ul>
                                </div>
                            </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>

<dialog aria-labelledby="fr-modal-title-collaborators-edit-backer" role="dialog" id="edit-backer-collaborators-modal" class="fr-modal">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button class="fr-btn fr-btn--close fr-link" title="Fermer la fenêtre modale" aria-controls="edit-backer-collaborators-modal">Fermer</button>
                    </div>
                    <div class="fr-modal__content">
                        <h2 id="fr-modal-title-collaborators" class="fr-modal__title fr-mb-5w"><span class="fr-icon-arrow-right-line fr-icon--lg"></span>Fiche porteur d'aides</h2>

                            <section>
                                <div class="content">
                                    <ul>
                                        <li>Peu modifier la fiche porteur d'aides de la structure</li>
                                    </ul>
                                </div>
                            </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>

<dialog aria-labelledby="fr-modal-title-collaborators-edit-project" role="dialog" id="edit-project-collaborators-modal" class="fr-modal">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button class="fr-btn fr-btn--close fr-link" title="Fermer la fenêtre modale" aria-controls="edit-project-collaborators-modal">Fermer</button>
                    </div>
                    <div class="fr-modal__content">
                        <h2 id="fr-modal-title-collaborators" class="fr-modal__title fr-mb-5w"><span class="fr-icon-arrow-right-line fr-icon--lg"></span>Projets</h2>

                            <section>
                                <div class="content">
                                    <ul>
                                        <li>Peu publier et éditer les projets de la structure</li>
                                    </ul>
                                </div>
                            </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>
{% endblock %}