{% extends 'base.html.twig' %}

{% block title %}Ma structure | {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('import-scss/user/register') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('front/user/register') }}
{% endblock %}

{% block body %}
<div class="fr-container fr-mb-5w fr-mt-0">
    <div class="fr-grid-row">

        {% include "user/_menu_user.html.twig" with { structure:true, structure_info:true } %}

        <div class="fr-col-12 fr-col-md-9">
            <h1 class="fr-h3">Informations sur ma structure</h1>

            {% if not organization %}
            <div class="fr-alert fr-alert--error fr-alert--sm fr-mb-5w">
                <p>Vous devez renseigner votre structure avant de pouvoir créer des aides ou des projets.</p>
            </div>
            {% endif %}
            {{ form_start(form, {'attr': {'name': 'register'}}) }}
            <p>Les champs marqués d’un astérisque (*) sont obligatoires.</p>
            <fieldset class="fr-my-5w"> 
                <legend class="fr-h4">Généralités</legend>
                {{ form_row(form.organizationType )}}
                <div id="intercommunality-type-field-collapse" class="fr-collapse">
                    <div class="fr-mb-3w">
                        {{ form_row(form.intercommunalityType)}}
                    </div>
                </div>    
                {{ form_row(form.perimeter )}}
                {{ form_row(form.organizationName )}}

                <div id="beneficiary-fields-collapse" class="fr-collapse">
                    <div class="fr-mb-3w">
                        {{ form_row(form.beneficiaryFunction)}}
                        {{ form_row(form.beneficiaryRole)}}
                    </div>
                </div>


                <div class="fr-form-group">
                    <fieldset class="fr-fieldset fr-fieldset--inline">
                        <legend class="fr-fieldset__legend fr-text--regular" id='checkboxes-inline-legend'>
                            Vous souhaitez utiliser Aides-territoires pour :
                        </legend>
                        <div class="fr-fieldset__content">
                            {{ form_row(form.isBeneficiary)}}
                            {{ form_row(form.isContributor)}}
                        </div>
                    </fieldset>
                </div>

                <div class="fr-mb-5w">
                    {{ form_row(form.mlConsent)}}
                </div>
            </fieldset>
            <fieldset class="fr-my-5w">
                <legend class="fr-h4">Coordonnées</legend>
                {{ form_row(form.address )}}
                {{ form_row(form.cityName )}}
                {{ form_row(form.zipCode )}}
            </fieldset>
            <fieldset id="organization-administrative-data" class="fr-my-5w">
                <legend class="fr-h4">Données administratives</legend>
                {{ form_row(form.sirenCode )}}
                {{ form_row(form.siretCode )}}
                {{ form_row(form.apeCode )}}
                {{ form_row(form.inseeCode )}}
            </fieldset>
            <footer>
                <button type="submit" class="fr-btn">Mettre à jour</button>
            </footer>
            {{ form_end(form) }}
        </div>
    </div>
</div>



{% endblock %}
