{% block display_content_type_row %}
<div class="fr-input-group">
    <div class="field-text">
        {{ form_label(form) }}
        <div class="display-content-type-wrapper">
            <div class="wysiwyg-wrapper">
                {{ form.vars.value|raw }}
            </div>
        </div>
        <input type="hidden" name="{{ form.vars.full_name }}" value="{{ form.vars.value|raw }}">
        {{ form_errors(form) }}
    </div>
</div>
{% endblock %}