{% extends 'admin/statistics/_stats_base.html.twig' %}

{% block breadcrumb %}{% endblock %}

{% block stats_content %}
	<section class="container">
		<h1>Recherches infructueuses</h1>
	</section>

	<section class="container mt-5">

		<div class="mt-5">
			{{ form_start(formDateRange) }}
			<div class="d-flex">
				<div class="d-flex me-3">
					{{ form_row(formDateRange.dateMin) }}
				</div>
				<div class="d-flex me-3">
					{{ form_row(formDateRange.dateMax) }}
				</div>
				<div class="d-flex me-3">
					<button type="submit" class="btn btn-primary">Valider</button>
				</div>
			</div>
			{{ form_end(formDateRange) }}
		</div>

		<div class="row mt-5">
			<div class="col-md-6">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Recherche</th>
							<th>Date de publication</th>
							<th>Nombre de résultats</th>
							<th>Paramètres</th>
							<th>Projet référent</th>
						</tr>
					</thead>
					<tbody>
						{% for logAidSearch in logAidSearchs %}
							<tr>
								<td>{{ logAidSearch.search }}</td>
								<td>
									{% if logAidSearch.dateCreate %}
										{{ logAidSearch.dateCreate|date('d/m/Y') }}
									{% endif %}
								</td>
								<td>{{ logAidSearch.resultsCount }}</td>
								<td>
									{% if queriesByLogId[logAidSearch.id] is defined %}
										{% for key, item in queriesByLogId[logAidSearch.id] %}
											{{ item }}<br/>
										{% endfor %}
									{% endif %}
								</td>
								<td>
									{% if projectReferencesByLogId[logAidSearch.id] is defined and projectReferencesByLogId[logAidSearch.id] %}
										{{ projectReferencesByLogId[logAidSearch.id].name }}
										({{ projectReferencesByLogId[logAidSearch.id].aidsLive|length }}
										aides live associées)
									{% endif %}
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</section>
{% endblock stats_content %}
