{% extends 'base.html.twig' %}

{% block javascripts %}
	{{ parent() }}
    {{ encore_entry_script_tags('front/portal/stats') }}
{% endblock %}



{% block body %}
<div class="fr-container">
    <h1>Statistiques du portail {{ search_page.slug }}</h1>
    <div class="fr-mb-5w">
        <div class="fr-mb-3w">
            <h5>
                Nombre d'aides affichées actuellement
            </h5>
            <h2>
                {{ aids|length }}
            </h2>
        </div>

        <div class="fr-mb-3w">
            <h2>Top 10 des aides les plus vues</h2>
            <div id="top-aids-container">Calcul en cours...</div>
        </div>

        <div class="fr-grid-row">
            <div class="fr-col-md-6">
                <div class="fr-mb-3w">
                    <div id="chart-views-by-month-container">Calcul en cours...</div>
                    <hr />
                </div>

                <div class="fr-mb-3w">
                    <p class="fr-alert fr-alert--info">Les Statistiques Matomo ne sont disponibles qu'à partir du {{ dateStartMatomoto|date('d/m/Y') }}</p>
                    <div id="chart-visits-by-month-container">Calcul en cours...</div>
                </div>
            </div>
            <div class="fr-col-md-6">
                <div class="fr-mb-3w">
                    <div id="chart-views-by-organization-container">Calcul en cours...</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}