<div class="fr-mb-5w">
<h2>{{ current_dept.name }} : {{ backers|length }} porteur{% if backers|length > 1 %}s{% endif %} d‘aides financières présent{% if backers|length > 1 %}s{% endif %}</h2>
</div>
<table class="sortable-table at-table--xl">
    <thead>
         <tr>
                <th scope="col">Catégorie</th>
                <th scope="col">Porteur</th>
                <th scope="col">Périmètre du porteur</th>
                <th scope="col">Thématiques des aides</th>
                <th scope="col">Total des aides financières</th>
                <th scope="col">Subvention</th>
                <th scope="col">Prêt</th>
                <th scope="col">Avance récupérable</th>
                <th scope="col">Certificat d’économie d’énergie (CEE)</th>
                <th scope="col">Autres aides financières</th>
            </tr>
    </thead>
    <tbody>
        {% for backer in backers %}
            <tr>
                <td>
                    {{ backer.backerGroup.backerSubCategory.backerCategory.name }}
                </td>
                <td>
                    <a href="{{ path('app_backer_details', {'id': backer.id, 'slug': backer.slug}) }}">{{ backer.name }}</a>
                </td>
                <td data-sort="{{ backer.perimeter.scale }}">{{ backer.perimeter.name }}</td>
                <td>
                    {% for thematic in backer.aidsThematics %}
                        {% if 
                        (categoryThemesSelected is defined and thematic in categoryThemesSelected)
                        or categoryThemesSelected is not defined
                        or (categoryThemesSelected is defined and categoryThemesSelected is empty)
                        %}
                        <p class="fr-mb-1w">{{ thematic.name }}</p>
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ path('app_aid_aid', {'perimeter': current_dept.id, 'backers': backer.id, 'aidTypeGroupSlug': constant('App\\Entity\\Aid\\AidTypeGroup::SLUG_FINANCIAL')}) }}" title="Voir les aides financières du porteur {{ backer.name }}">{{ backer.aidsFinancial|length }}</a>
                </td>
                <td>
                    <a href="{{ path('app_aid_aid', {'perimeter': current_dept.id, 'backers': backer.id, 'aidTypeSlug': constant('App\\Entity\\Aid\\AidType::SLUG_GRANT')}) }}" title="Voir les aides financières de type subvention du porteur {{ backer.name }}">{{ backer.aidsByAidTypeSlug(constant('App\\Entity\\Aid\\AidType::SLUG_GRANT'))|length }}</a>
                </td>
                <td>
                    <a href="{{ path('app_aid_aid', {'perimeter': current_dept.id, 'backers': backer.id, 'aidTypeSlug': constant('App\\Entity\\Aid\\AidType::SLUG_LOAN')}) }}" title="Voir les aides financières de type prêt du porteur {{ backer.name }}">{{ backer.aidsByAidTypeSlug(constant('App\\Entity\\Aid\\AidType::SLUG_LOAN'))|length }}</a>
                </td>
                <td>
                    <a href="{{ path('app_aid_aid', {'perimeter': current_dept.id, 'backers': backer.id, 'aidTypeSlug': constant('App\\Entity\\Aid\\AidType::SLUG_RECOVERABLE_ADVANCE')}) }}" title="Voir les aides financières de type avance récupérable du porteur {{ backer.name }}">{{ backer.aidsByAidTypeSlug(constant('App\\Entity\\Aid\\AidType::SLUG_RECOVERABLE_ADVANCE'))|length }}</a>
                </td>
                <td>
                    <a href="{{ path('app_aid_aid', {'perimeter': current_dept.id, 'backers': backer.id, 'aidTypeSlug': constant('App\\Entity\\Aid\\AidType::SLUG_CEE')}) }}" title="Voir les aides financières de type avance récupérable du porteur {{ backer.name }}">{{ backer.aidsByAidTypeSlug(constant('App\\Entity\\Aid\\AidType::SLUG_CEE'))|length }}</a>
                </td>
                <td>
                    <a href="{{ path('app_aid_aid', {'perimeter': current_dept.id, 'backers': backer.id, 'aidTypeSlug': constant('App\\Entity\\Aid\\AidType::SLUG_OTHER')}) }}" title="Voir les aides financières de type avance récupérable du porteur {{ backer.name }}">{{ backer.aidsByAidTypeSlug(constant('App\\Entity\\Aid\\AidType::SLUG_OTHER'))|length }}</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>