{% extends 'base.html.twig' %}


{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('import-scss/user/searchpage/edit') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('front/user/searchpage/edit') }}
{% endblock %}

{% block title %}Editer votre portail {{ searchPage.name }} {{ parent() }}{% endblock %}

{% block body %}

<div class="fr-container fr-mb-5w fr-mt-0">
    <div class="fr-grid-row">
        {% include "user/_menu_user.html.twig" with { user_portals:true, user_portal_selected: searchPage.id } %}
        
        <div class="fr-col-12 fr-col-md-9">
            <h1 class="fr-h3">Mon portail « {{ searchPage.name }} »</h1>

            <div class="link-to-visit fr-mb-2w">
                <a href="{{ path('app_portal_portal_details', {'slug': searchPage.slug}) }}" class="fr-btn fr-btn--secondary" target="_blank" title="Voir le portail - Ouvre un nouvel onglet">Voir le portail</a>
            </div>

            {{ form_start(form) }}
                <fieldset class="optgroup fr-mb-2w">
                    <legend>Contenu</legend>
                        {{ form_row(form.description) }}
                        {{ form_row(form.moreContent) }}
                </fieldset>
                
                <fieldset class="optgroup fr-mb-2w">
                    <legend>À propos de cette page</legend>
                    {% if searchPage.timeCreate %}
                    <p>
                    Date de création :
                    <br />
                    {{ searchPage.timeCreate|format_datetime('long', 'short', locale='fr') }}
                    </p>
                    <hr />
                    {% endif %}
                    {% if searchPage.timeUpdate %}
                    <p>
                    Date de mise à jour :
                    <br />
                    {{ searchPage.timeUpdate|format_datetime('long', 'short', locale='fr') }}
                    </p>
                    <hr />
                    {% endif %}
                    <p>
                    Nombre d’aides actuellement visibles :
                    <br />
                    {{ nbAids }} (dont aides locales : {{ nbLocals }})
                    </p>
                </fieldset>
                </fieldset>

                <fieldset class="optgroup fr-mb-2w">
                    <legend>Mettre en avant des aides</legend>
                    {{ form_row(form.highlightedAids) }}
                </fieldset>

                <fieldset class="optgroup fr-mb-2w">
                    <legend>Exclure des aides des résultats</legend>
                    {{ form_row(form.excludedAids) }}
                </fieldset>

                <fieldset class="optgroup fr-mb-2w">
                    <legend>Onglets</legend>
                    <div class="form-group form-control-width-auto">
                        {{ form_label(form.pages) }}
                        {# store the prototype on the data-prototype attribute #}
                        <div id="pages-list" class="form-group-display-inline-block"
                            data-prototype="{{ form_widget(form.pages.vars.prototype)|e }}"
                            data-widget-tags="{{ '<div class="collection-item-wrapper-generic fr-mb-2w"></div>'|e }}"
                            data-widget-counter="{{ form.pages|length }}">
                            {% for page in form.pages %}
                                <div class="collection-item-wrapper-generic fr-mb-2w">
                                    {{ form_errors(page) }}
                                    {{ form_widget(page) }}
                                </div>
                            {% endfor %}
                        </div>

                        <button type="button"
                                class="add-another-collection-widget fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-add-circle-line"
                                data-list-selector="#pages-list">Ajouter un autre onglet</button>
                    </div>
                </fieldset>


                                        
                <footer class="fr-mt-5w">
                    <button type="submit" class="fr-btn">Modifier</button>
                </footer>

                <p class="fr-hint-text fr-mt-2w">Les champs marqués d’un astérisque (*) sont obligatoires.</p>

            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}

{% block javascriptsBottom %}
    {{ parent() }}
    {% cspscript %}
        <script type="text/javascript">
            let idSearchPage = {{ searchPage.id }};
        </script>
    {% endcspscript %}
{% endblock %}