{% if aids %}
	<div class="fr-table fr-table--no-scroll {% if forceDisplayAidAsList is not defined %}at-display__none{% endif %}" id="aids-as-list">
		<div class="fr-table__wrapper">
			<div class="fr-table__container">
				<div class="fr-table__content">
					<table>
						<caption class="fr-sr-only">Liste des aides</caption>
						<thead>
							<tr>
								<th scope="col">Nom</th>
								<th>Projets référents</th>
								<th scope="col">Porteurs</th>
								<th scope="col">Périmètre</th>
								<th scope="col">Subvention</th>
								<th scope="col">Prêt</th>
								<th scope="col">Ingénierie</th>
								<th scope="col">Echéance</th>
							</tr>
						</thead>
						<tbody>
							{% for aid in aids %}
								{% set aidUrlParams = {'slug': aid.slug} %}
								{% if integration is defined %}
									{% set aidUrlParams = aidUrlParams|merge({'integration': 'integration'}) %}
								{% endif %}
								<tr>
									<td class="highlightable badge-container">
										{% include 'aid/aid/_favorite_button_icon.html.twig' with {
											aid: aid,
											isFavorite: isAidInUserFavorites(app.user, aid)
										} %}
										<a href="{{ path('app_aid_aid_details', {'slug': aid.slug}) }}{% if integration is defined %}?integration=integration{% endif %}">
											{{ aid.name }}
											{% if app.user and app.user and isUserGranted(app.user, constant('App\\Entity\\User\\User::ROLE_ADMIN')) %}(st:
												{{ aid.scoreTotal}}, so:
												{{ aid.scoreObjects}})
											{% endif %}
										</a>
									</td>
									<td>
										{% set maxDisplay = 2 %}
										{% set totalProjectReferences = aid.projectReferences|length %}
										{% set projectReferencesDisplayed = [] %}
										{% set count = 0 %}
										{% for projectReference in aid.projectReferencesSearched %}
											{% if count < maxDisplay %}
												<span class="fr-badge fr-badge--sm fr-badge--success fr-badge--no-icon">{{ projectReference.name }}</span><br/>
												{% set count = count + 1 %}
											{% endif %}
											{% set projectReferencesDisplayed = projectReferencesDisplayed|merge([projectReference]) %}
										{% endfor %}
										{% for projectReference in aid.projectReferences %}
											{% if projectReference not in aid.projectReferencesSearched and count < maxDisplay %}
												<span class="fr-badge fr-badge--sm fr-badge--new fr-badge--no-icon">{{ projectReference.name }}</span><br/>
												{% set projectReferencesDisplayed = projectReferencesDisplayed|merge([projectReference]) %}
												{% set count = count + 1 %}
											{% endif %}
										{% endfor %}
										{% if totalProjectReferences > maxDisplay %}
											{% set titleOthers = '' %}
											{% for projectReference in aid.projectReferences %}
												{% if projectReference not in projectReferencesDisplayed %}
													{% set titleOthers = titleOthers ~ projectReference.name ~ ', ' %}
												{% endif %}
											{% endfor %}
											<span class="fr-badge fr-badge--sm fr-badge--new fr-badge--no-icon" title="{{ titleOthers }}">+{{ totalProjectReferences - maxDisplay }}
												{% if totalProjectReferences - maxDisplay > 1 %}autres projets{% else %}autre projet
												{% endif %}
											</span>
										{% endif %}
									</td>
									<td>
										{% if aid.aidFinancers %}
											<ul>
												{% set maxDisplay = 3 %}
												{% set totalFinancers = aid.aidFinancers|length %}
												{% for financer in aid.aidFinancers|slice(0, maxDisplay) %}
													<li>
														{{ financer.backer.name }}
														{% if financer.backer.isCorporate %}
															(Privé)
														{% endif %}
													</li>
												{% endfor %}
												{% if totalFinancers > maxDisplay %}
													<li>+{{ totalFinancers - maxDisplay }}
														autres</li>
												{% endif %}
											</ul>
										{% endif %}
									</td>
									<td>
										{% if aid.perimeter %}
											{{ aid.perimeter.name|u.truncate(40, '...') }}
										{% endif %}
									</td>
									<td>
										{% if aid.isGrant %}
											<p class="at-centered fr-mb-0"></p>
											<p class="fr-badge fr-badge--success">Oui</p>
										{% endif %}
									</td>
									<td>
										{% if aid.isLoan %}
											<p class="at-centered fr-mb-0"></p>
											<p class="fr-badge fr-badge--success">Oui</p>
										{% endif %}
									</td>
									<td>
										{% if aid.isTechnical %}
											<p class="at-centered fr-mb-0"></p>
											<p class="fr-badge fr-badge--success">Oui</p>
										{% endif %}
									</td>
									<td>
										{% if aid.hasCalendar %}
											{% if aid.dateSubmissionDeadline %}
												{{ aid.dateSubmissionDeadline|date('d/m/y') }}
											{% endif %}
										{% endif %}
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endif %}
