{{ form_start(formAidSearch) }}
<div class="fr-card fr-mb-2w">
	<div class="fr-card__body">
		<div class="fr-card__content">


			<div class="form-container">
				<div class="form-body">

					<div class="fr-grid-row fr-grid-row--gutters fr-grid-row--bottom">

						<div class="fr-col-12 fr-col-md-3 {% if showAudienceField is defined and not showAudienceField %}fr-hidden{% endif %}">
							{{ form_row(formAidSearch.organization_type_slug)}}
						</div>

						<div class="fr-col-12 fr-col-md-3 {% if showPerimeterField is defined and not showPerimeterField %}fr-hidden{% endif %}">
							{{ form_row(formAidSearch.perimeter_id)}}
						</div>

						<div class="fr-col-12 fr-col-md-3 {% if showTextField is defined and not showTextField %}fr-hidden{% endif %}">
							{{ form_row(formAidSearch.keyword, {'value': formAidSearch.keyword.vars.value|htmlDecode}) }}
						</div>

						{% if formAidSearch.category_ids is defined %}
						<div class="fr-col-12 fr-col-md-3 {% if showCategoriesField is defined and not showCategoriesField %}fr-hidden{% endif %}">
							{{ form_row(formAidSearch.category_ids)}}
						</div>
						{% endif %}
					</div>

					<div id="search-form-extra-fields" class="{% if showExtended %}show{% endif %}">
						<div class="fr-grid-row fr-grid-row--gutters fr-grid-row--bottom fr-mb-2w">
							<div class="fr-col-12 fr-col-md-3 {% if showAidTypeField is defined and not showAidTypeField %}fr-hidden{% endif %}">
								{{ form_row(formAidSearch.aid_type_ids)}}
							</div>

							{% if formAidSearch.backer_ids is defined %}
								<div class="fr-col-12 fr-col-md-3 {% if showBackersField is defined and not showBackersField %}fr-hidden{% endif %}">
									{{ form_row(formAidSearch.backer_ids)}}
								</div>
							{% endif %}

							<div class="fr-col-12 fr-col-md-3">
								{{ form_row(formAidSearch.apply_before)}}
							</div>
							{% if formAidSearch.programs is defined %}
								<div class="fr-col-12 fr-col-md-3">
									{{ form_row(formAidSearch.programs)}}
								</div>
							{% endif %}

							<div class="fr-col-12 fr-col-md-3 {% if showMobilizationStepField is defined and not showMobilizationStepField %}fr-hidden{% endif %}">
								{{ form_row(formAidSearch.aid_step_ids)}}
							</div>

							<div class="fr-col-12 fr-col-md-3">
								{{ form_row(formAidSearch.aid_destination_ids)}}
							</div>
							<div class="fr-col-12 fr-col-md-3">
								{{ form_row(formAidSearch.is_charged)}}
							</div>
							{% if formAidSearch.european_aid_slug is defined %}
								<div class="fr-col-12 fr-col-md-3">
									{{ form_row(formAidSearch.european_aid_slug)}}
								</div>
							{% endif %}
						</div>

						<div class="fr-grid-row fr-grid-row--gutters fr-grid-row--bottom fr-mb-2w fr-grid-row--bottom">
							<div class="fr-col-12 fr-col-md-3">
								{{ form_row(formAidSearch.backer_group_id)}}
							</div>
							<div class="fr-col-12 fr-col-md-9">
								{{ form_row(formAidSearch.call_for_projects_only)}}
							</div>
						</div>
					</div>

					<div class="fr-mt-2w">
						{% if noAdvanceFilters is not defined %}
							<ul class="fr-btns-group fr-btns-group--center fr-btns-group--inline">
								<li>
									<button id="search-form-more-options" class="fr-btn fr-btn--tertiary-no-outline search-form-extra-action">
										{% if showExtended %}
											<span class="fr-icon-subtract-line" aria-hidden="true"></span>
											Masquer les critères avancés
										{% else %}
											<span class="fr-icon-add-line" aria-hidden="true"></span>
											Afficher les critères avancés
										{% endif %}
									</button>
								</li>
							</ul>
						{% endif %}


						{% if formAidSearch.vapp_description is defined %}
							<div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center fr-mb-2w">
								<div class="fr-col-12">
									{{ form_row(formAidSearch.vapp_description)}}
								</div>
							</div>
						{% endif %}

						<ul class="fr-btns-group fr-btns-group--center fr-btns-group--inline">
							{% if noNewSearch is not defined %}
								<li>
									<a href="/aides/" class="fr-btn fr-btn--tertiary-no-outline search-form-extra-action">
										<span class="fr-icon-arrow-go-back-line" aria-hidden="true"></span>
										Nouvelle recherche
									</a>
								</li>
							{% endif %}
							<li>
								<button class="fr-btn" type="submit">
									<span class="fr-icon-search-line fr-mr-1w" aria-hidden="true"></span>
									Rechercher
								</button>
							</li>
						</ul>
						<div></div>
					</div>

				</div>
			</div>


		</div>
	</div>
</div>


{% if myPager.getNbResults() and formAidSearchNoOrder is not defined %}
	<div class="fr-grid-row">
		<div class="fr-col-xs-12 fr-col-md-8">
			<ul class="fr-btns-group fr-btns-group--inline">
				{% if isVappFormulaire is not defined or (isVappFormulaire is defined and not isVappFormulaire) %}
				<li>
					<button type="button" class="fr-btn fr-mr-0" title="Afficher les résultats en cartes" id="btn-results-card">
						<span class="ri-function-line"></span>
					</button>
				</li>
				<li>
					<button type="button" class="fr-btn fr-btn--secondary fr-mr-0" title="Afficher les résultats en liste" id="btn-results-list">
						<span class="ri-list-check"></span>
					</button>
				</li>
				<li>
					<p class="fr-btn fr-btn--tertiary-no-outline fr-ml-0" id="display-type">
						Affichage en cartes
					</p>
				</li>
				{% endif %}
				{% if formAidSearch.orderBy is defined %}
					<li>
						<div class="fr-select-group">
							{{ form_row(formAidSearch.orderBy)}}
						</div>
					</li>
				{% endif %}
			</ul>
		</div>

		<div class="fr-col-xs-12 fr-col-md-4">
			<ul class="fr-btns-group fr-btns-group--inline fr-btns-group--right">
				{% set downloadDisabled = true %}
				{% if myPager is defined and myPager.getNbResults() <= 1000 %}
					{% set downloadDisabled = false %}
				{% endif %}
				<li>
					{% if downloadDisabled %}
						<button id="btn-download-results" type="button" class="fr-btn" disabled aria-disabled="true" title="Limité à 1000 résultats">
							<span class="fr-icon-download-line ri-lg fr-mr-1w"></span>Télécharger les résultats
						</button>
					{% else %}
						<a id="btn-download-results" href="{{ path('app_aid_export') ~ '?' ~ querystring }}" class="fr-btn">
							<span class="fr-icon-download-line ri-lg fr-mr-1w"></span>Télécharger les résultats
						</a>
					{% endif %}
				</li>
				
				<li>
					<button type="button" class="fr-btn js" id="save-alert-btn" data-fr-opened="false" aria-controls="alert-search-modal">
						<span class="ri-notification-2-line ri-lg fr-mr-1w"></span>Créer une alerte
					</button>
				</li>
			</ul>
		</div>
	</div>
{% endif %}
{{ form_end(formAidSearch) }}
