{% if formAidSearch is defined %}
	<div class="search-meta fr-mb-2w">
		{% if formAidSearch.organization_type_slug.vars.data %}
			<div class="fr-tags-group">
				<p title="Bénéficiaires de l’aide" class="fr-tag">
					<span class="ri-home-8-line ri-xl fr-mr-1w at-icon-align--sub" aria-hidden="true"></span>
					{{ formAidSearch.organization_type_slug.vars.data.name }}
				</p>
			</div>
		{% endif %}
		{% if formAidSearch.perimeter_id.vars.data %}
			{% set scale = getPerimeterScale(formAidSearch.perimeter_id.vars.data.scale) %}
			<div class="fr-tags-group">
				<p title="Périmètre" class="fr-tag">
					<span class="ri-map-pin-fill ri-xl fr-mr-1w at-icon-align--sub" aria-hidden="true"></span>
					{{ formAidSearch.perimeter_id.vars.data.name }}
					({{ scale.name }})
				</p>
			</div>
		{% endif %}
		{% if formAidSearch.keyword.vars.data %}
			<div class="fr-tags-group">
				<p title="Mot-clé" class="fr-tag">
					<span class="ri-double-quotes-r ri-xl fr-mr-1w at-icon-align--sub" aria-hidden="true"></span>
					<span>
					<strong>{{ formAidSearch.keyword.vars.data|sanitize_html }} :</strong><br />
					({{ getKeywordReferenceAndSynonyms(formAidSearch.keyword.vars.data|sanitize_html)|raw }})
					</span>
				</p>
			</div>
		{% endif %}
		{% if formAidSearch.category_ids is defined and formAidSearch.category_ids.vars.data %}
			<div class="fr-tags-group categories">
				{% set categoriesMetas = categoriesToMetas(formAidSearch.category_ids.vars.data) %}
				{% for categoryMeta in categoriesMetas %}
					<div class="theme fr-tag">
						<div>
							<span class="ri-price-tag-3-line ri-xl fr-mr-1w at-icon-align--sub" aria-hidden="true"></span>
							<span class="category at-uppercase">{{ categoryMeta.categoryTheme.name }}<br/></span>
						</div>
						<div>
							<ul>
								{% for category in categoryMeta.categories %}
									<li>
										<span class="category">{{ category.name }}
											{% if not loop.last %}<br/>
											{% endif %}
										</span>
									</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				{% endfor %}
			</div>
		{% endif %}

		{% if formAidSearch.aid_type_ids.vars.data and formAidSearch.aid_type_ids.vars.data|length > 0 %}
			<div class="fr-tags-group">
				<p title="Nature de l’aide" class="fr-tag">
					<span class="ri-money-euro-circle-line ri-xl fr-mr-1w at-icon-align--sub" aria-hidden="true"></span>
					{% for aidType in formAidSearch.aid_type_ids.vars.data %}
						{{ aidType.name }}
						{% if not loop.last %},
						{% endif %}
					{% endfor %}
				</p>
			</div>
		{% endif %}

		{% if formAidSearch.backer_ids is defined and formAidSearch.backer_ids.vars.data and formAidSearch.backer_ids.vars.data|length > 0 %}
			<div class="fr-tags-group">
				<p title="Porteurs d’aides" class="fr-tag">
					<span class="ri-hand-coin-line ri-xl fr-mr-1w at-icon-align--sub" aria-hidden="true"></span>
					{% for backer in formAidSearch.backer_ids.vars.data %}
						{{ backer.name }}
						{% if not loop.last %},
						{% endif %}
					{% endfor %}
				</p>
			</div>
		{% endif %}

		{% if formAidSearch.backer_group_id.vars.data %}
			<div class="fr-tags-group">
				<p title="Groupe de porteurs d’aides" class="fr-tag">
					<span class="ri-hand-coin-line ri-xl fr-mr-1w at-icon-align--sub" aria-hidden="true"></span>
					{{ formAidSearch.backer_group_id.vars.data.name }}
				</p>
			</div>
		{% endif %}

		{% if formAidSearch.programs is defined and formAidSearch.programs.vars.data and formAidSearch.programs.vars.data|length > 0 %}
			<div class="fr-tags-group">
				<p title="Programmes d’aides" class="fr-tag fr-icon-arrow-right-line fr-tag--icon-left">
					{% for program in formAidSearch.programs.vars.data %}
						{{ program.name}}
						{% if not loop.last %},
						{% endif %}
					{% endfor %}
				</p>
			</div>
		{% endif %}
		{% if formAidSearch.aid_step_ids.vars.data and formAidSearch.aid_step_ids.vars.data|length > 0 %}
			<div class="fr-tags-group">
				<p title="Avancement du projet" class="fr-tag fr-icon-arrow-right-line fr-tag--icon-left">
					{% for aidStep in formAidSearch.aid_step_ids.vars.data %}
						{{ aidStep.name}}
						{% if not loop.last %},
						{% endif %}
					{% endfor %}
				</p>
			</div>
		{% endif %}
		{% if formAidSearch.aid_destination_ids.vars.data and formAidSearch.aid_destination_ids.vars.data|length > 0 %}
			<div class="fr-tags-group">
				<p title="Actions concernées" class="fr-tag fr-icon-arrow-right-line fr-tag--icon-left">
					{% for aidDestinations in formAidSearch.aid_destination_ids.vars.data %}
						{{ aidDestinations.name}}
						{% if not loop.last %},
						{% endif %}
					{% endfor %}
				</p>
			</div>
		{% endif %}

		{% if formAidSearch.is_charged.vars.data is defined and formAidSearch.is_charged.vars.data is not null %}
			<div class="fr-tags-group">
				<p title="aides gratuites ou payantes" class="fr-tag fr-icon-arrow-right-line fr-tag--icon-left">
					{% if formAidSearch.is_charged.vars.data %}Aides payantes{% else %}Aides gratuites
					{% endif %}
				</p>
			</div>
		{% endif %}

		{% if formAidSearch.european_aid_slug is defined and formAidSearch.european_aid_slug.vars.data is not null and formAidSearch.european_aid_slug.vars.data  != '' and formAidSearch.european_aid_slug.vars.data  != 'all' %}
			<div class="fr-tags-group">
				<p title="aides gratuites ou payantes" class="fr-tag fr-icon-arrow-right-line fr-tag--icon-left">
					{{ constant('App\\Entity\\Aid\\Aid::LABELS_EUROPEAN')[formAidSearch.european_aid_slug.vars.data] }}
				</p>
			</div>
		{% endif %}

		{% if formAidSearch.call_for_projects_only is defined and formAidSearch.call_for_projects_only.vars.data %}
			<div class="fr-tags-group">
				<p title="Appels à projets / Appels à manifestation d’intérêt uniquement" class="fr-tag fr-icon-arrow-right-line fr-tag--icon-left">
					Appels à projets / Appels à manifestation d’intérêt uniquement
				</p>
			</div>
		{% endif %}

		{% if formAidSearch.apply_before is defined and formAidSearch.apply_before.vars.data %}
			<div class="fr-tags-group">
				<p title="Candidater avant :" class="fr-tag fr-icon-arrow-right-line fr-tag--icon-left">
					Candidater avant : {{ formAidSearch.apply_before.vars.data|date('d/m/Y') }}
				</p>
			</div>
		{% endif %}		

	</div>
{% endif %}
