{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('import-scss/aid/aid/detail') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('front/aid/aid/detail') }}
{% endblock %}

{% block title %}{{ aid.name }}{% endblock %}

{% block meta_og %}
<meta property="og:title" content="{{ aid.name }}" />
<meta property="og:type" content="website" />
<meta property="og:description" content="{% if aid.aidFinancers %}{% for aidFinancer in aid.aidFinancers %}{{ aidFinancer.backer.name }}{% endfor %}{% endif %} - Trouvez les aides pertinentes pour financer et accompagner les projets de votre territoire" />
<meta property="og:url" content="{{ absolute_url(path('app_aid_aid_details', {'slug': aid.slug})) }}" />
<meta property="og:site_name" content="Aides-territoires" />
<meta property="og:image" content="{{ absolute_url(asset('build/images/logo/logo_AT_og.png')) }}" />
<meta property="og:image:alt" content="Logo : Aides-territoires" />
{% endblock %}

{% block body %}
<article id="aid" class="fr-container fr-mb-2w">

    {% if not aid.isPublished %}
    <div class="fr-alert fr-alert--warning at-clear fr-mt-2w">
        <p class="fr-alert__title">Attention ! Cette aide n’est actuellement pas affichée sur le site.</p>
        <p>Vous pouvez la prévisualiser parce que vous en êtes l’auteur.</p>
    </div>
    {% endif %}

    {% if aid.hasExpired %}
    <div class="fr-alert fr-alert--warning at-clear fr-mt-2w">
        <p class="fr-alert__title">Attention ! Cette aide n’est plus disponible.</p>
        <p>Cette page restera accessible pour archivage.</p>
    </div>
    {% endif %}

    <section class="aid-content fr-grid-row fr-mt-5w">
        <div class="sidebar fr-col-12 fr-col-md-4 fr-p-3w fr-background-alt">

            {% if aid.isCharged %}
            <div class="fr-mb-4w fr-grid-row">
                <div class="fr-col-1">
                    <span class="ri-error-warning-line ri-xl" aria-hidden="true"></span>
                </div>
                <div class="fr-col-11">
                    <h2 class="fr-text--md fr-text--normal fr-mb-0 fr-ml-1w">
                        <strong>Aide payante</strong>
                    </h2>
                </div>
            </div>
            {% endif %}

            {% if aid.projectReferences|length > 0 %}
            <div class="fr-mb-4w fr-grid-row">
                <div class="fr-col-1">
                    <span class="fr-icon-article-line ri-xl"></span>
                </div>
                <div class="fr-col-11">
                    <h2 class="fr-text--md fr-text--normal fr-mb-0 fr-ml-1w">
                        <strong>{% if aid.projectReferences|length > 1 %}Projets référents :{% else %}Projet référent :{% endif %}</strong>
                    </h2>
                    {% for projectReference in aid.projectReferences %}
                    <p class="fr-mb-0 fr-ml-1w">
                        {{ projectReference.name }}
                    </p>
                    {% endfor %}
                </div>
            </div>
            {% endif %}

            {% if aid.aidFinancers|length > 0 %}
            <div class="fr-mb-4w fr-grid-row">
                <div class="fr-col-1">
                    <span class="ri-open-arm-line ri-xl"></span>
                </div>
                <div class="fr-col-11">
                    <h2 class="fr-text--md fr-text--normal fr-mb-0 fr-ml-1w">
                        <strong>Porteur(s) d’aide :</strong>
                    </h2>
                    {% for aidFinancer in aid.aidFinancers %}
                    <p class="fr-mb-0 fr-ml-1w">
                        <a href="{{ path('app_backer_details', {'id': aidFinancer.backer.id, 'slug': aidFinancer.backer.slug}) }}"
                        title="{{ aidFinancer.backer.name }} - Ouvrir dans une nouvelle fenêtre"
                        target="_blank" rel="noopener"
                        >
                            {{ aidFinancer.backer.name }}
                        </a>
                    </p>
                    {% endfor %}
                    <div id="logos-financers" class="fr-mt-2w">
                    {% for aidFinancer in aid.aidFinancers %}
                        {% if aidFinancer.backer.logo %}
                            <p class="fr-mb-0 fr-ml-1w">
                                <a class="fr-col-10 at-link__nodecorator at-link-blank__none" href="{{ path('app_backer_details', {'id': aidFinancer.backer.id, 'slug': aidFinancer.backer.slug}) }}"
                                title="{{ aidFinancer.backer.name }} - Ouvrir dans une nouvelle fenêtre"
                                target="_blank" rel="noopener"
                                >
                                    <img src="{{ getParameter('cloud_image_url') }}{{ aidFinancer.backer.logo }}" alt="logo {{ aidFinancer.backer.name }}">
                                </a>
                            </p>
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}

            {% if aid.aidInstructors|length > 0 %}
            <div class="fr-mb-4w fr-grid-row">
                <div class="fr-col-1">
                    <span class="ri-open-arm-line ri-xl"></span>
                </div>
                <div class="fr-col-11">
                    <h2 class="fr-text--md fr-text--normal fr-mb-0 fr-ml-1w">
                        <strong>Instructeur(s) de l’aide :</strong>
                    </h2>
                    {% for aidInstructor in aid.aidInstructors %}
                    <p class="fr-mb-0 fr-ml-1w">
                        <a href="{{ path('app_backer_details', {'id': aidInstructor.backer.id, 'slug': aidInstructor.backer.slug}) }}"
                        title="{{ aidInstructor.backer.name }} - Ouvrir dans une nouvelle fenêtre"
                        target="_blank" rel="noopener"
                        >
                        {{ aidInstructor.backer.name }}
                        </a>
                    </p>
                    {% endfor %}
                    <div id="logos-instructors" class="fr-mt-2w">
                    {% for aidInstructor in aid.aidInstructors %}
                        {% if aidInstructor.backer.logo %}
                            <p class="fr-mb-0 fr-ml-1w">
                                <a class="fr-col-10 at-link__nodecorator at-link-blank__none" href="{{ path('app_backer_details', {'id': aidInstructor.backer.id, 'slug': aidInstructor.backer.slug}) }}"
                                title="{{ aidInstructor.backer.name }} - Ouvrir dans une nouvelle fenêtre"
                                target="_blank" rel="noopener"
                                >
                                    <img src="{{ getParameter('cloud_image_url') }}{{ aidInstructor.backer.logo }}" alt="logo {{ aidInstructor.backer.name }}">
                                </a>
                            </p>
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}

            {% if aid.dateSubmissionDeadline and not aid.isOngoing %}
                {% if aid.isApproachingDeadline %}
                <p class="fr-badge fr-badge--info fr-badge--no-icon fr-mb-5w">J-{{ aid.daysBeforeDeadline }} pour candidater</p>
                {% endif %}
            {% endif %}
        
            {% if aid.isLocal or aid.isGeneric %}
                {% if aid.isLocal and aid.genericAid %}
                <div>
                    <div class="local-generic fr-mb-4w fr-grid-row">
                        <div class="fr-col-1">
                            <span class="ri-map-pin-line ri-xl fr-mr-1w" aria-hidden="true"></span>
                        </div>
                        <div class="fr-col-11">
                            <h2 class="fr-text--md fr-text--normal fr-mb-0 fr-ml-1w">
                                <strong>Aide locale :</strong>
                            </h2>
                            <p class="fr-mb-0 fr-ml-1w">
                                Cette aide est une déclinaison locale d’une <a href="{{ path('app_aid_aid_details', {'slug': aid.genericAid.slug}) }}">aide nationale</a>
                            </p>
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if aid.isGeneric %}
                <div>
                    <div class="local-generic fr-mb-4w fr-grid-row">
                        <div class="fr-col-1">
                            <span class="ri-map-pin-line ri-xl fr-mr-1w" aria-hidden="true"></span>
                        </div>
                        <div class="fr-col-11">
                            <h2 class="fr-text--md fr-text--normal fr-mb-0 fr-ml-1w">
                                <strong>Aide nationale :</strong>
                            </h2>
                            <p class="fr-mb-0 fr-ml-1w">
                                Cette aide nationale <a href="#aides-locales">dispose de déclinaisons locales</a>
                            </p>    
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endif %}
            
            {% if aid.isCallForProject %}
            <div class="call-for-project fr-mb-4w fr-grid-row">
                <div class="fr-col-1">
                    <span class="ri-pushpin-2-fill ri-xl" aria-hidden="true"></span>
                </div>
                <div class="fr-col-11">
                    <h2 class="fr-text--md fr-text--normal fr-mb-0 fr-ml-1w">
                        Appel à projets (AAP) / Appel à manifestation d’intérêt (AMI)
                    </h2>    
                </div>
            </div>
            {% endif %}

            {% if aid.aidTypes|length > 0 %}
            <div class="aid-type fr-mb-4w">
                {% for aidType in aid.aidTypes %}
                    <div class="fr-grid-row fr-mb-2w">
                        <div class="fr-col-1">
                            <span class="ri-hand-coin-line ri-xl" aria-hidden="true"></span>
                        </div>
                        <div class="fr-col-11">
                            <h2 class="fr-text--md fr-text--normal fr-mb-0 fr-ml-1w">
                                
                                    {% if aidType.slug == constant('App\\Entity\\Aid\\AidType::SLUG_GRANT') %}
                                        <strong>Subvention</strong> 
                                        {% if aid.subventionRateMin and aid.subventionRateMax %}
                                        (min : {{ aid.subventionRateMin }}% - max : {{ aid.subventionRateMax }}%)
                                        {% elseif aid.subventionRateMin and not aid.subventionRateMax %}
                                        (min : {{ aid.subventionRateMin }}%)
                                        {% elseif not aid.subventionRateMin and aid.subventionRateMax %}
                                        (max : {{ aid.subventionRateMax }}%)
                                        {% endif %}
                                        {% if aid.subventionComment %}
                                        <br />
                                        {{ aid.subventionComment }}
                                        {% endif %}
                                        <br />
                                    {% elseif aidType.slug == constant('App\\Entity\\Aid\\AidType::SLUG_RECOVERABLE_ADVANCE') %}
                                        <strong>Avance récupérable</strong> {% if aid.recoverableAdvanceAmount %} (jusqu'à {{ aid.recoverableAdvanceAmount }} €){% endif %}<br />
                                    {% elseif aidType.slug == constant('App\\Entity\\Aid\\AidType::SLUG_LOAN') %}
                                        <strong>Prêt</strong> {% if aid.loanAmount %} (jusqu'à {{ aid.loanAmount }} €){% endif %}<br />
                                    {% elseif aidType.slug == constant('App\\Entity\\Aid\\AidType::SLUG_OTHER') %}
                                        <strong>Autre aide financière</strong> {% if aid.otherFinancialAidComment %} {{ aid.otherFinancialAidComment }}{% endif %}<br />                        
                                    {% else %}
                                        <strong>{{ aidType.name }}</strong><br />
                                    {% endif %}
                                
                            </h2>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% endif %}

            {% if aid.hasCalendar %}
            <div class="calendar-start fr-mb-4w fr-grid-row">
                <div class="fr-col-1">
                    <span class="ri-calendar-line ri-xl fr-mr-1w"></span>
                </div>
                <div class="fr-col-11">
                    <h2 class="fr-text--md fr-text--normal fr-mb-0 fr-ml-1w">
                        {% if aid.dateStart and aid.dateSubmissionDeadline and not aid.isOngoing %}
                        <strong>Calendrier :</strong> Du {{ aid.dateStart|format_datetime('long', 'none', locale='fr') }} au {{ aid.dateSubmissionDeadline|format_datetime('long', 'none', locale='fr') }}
                        {% elseif aid.dateStart and not aid.isOngoing %}
                        <strong>Calendrier :</strong> À partir du {{ aid.dateStart|format_datetime('long', 'none', locale='fr') }}
                        {% elseif aid.dateSubmissionDeadline and not aid.isOngoing %}
                        <strong>Calendrier :</strong> Clôture le {{aid.dateSubmissionDeadline|format_datetime('long', 'none', locale='fr') }}
                        {% endif %}
                    </h2>
                </div>
            </div>
            {% endif %}

            {% if aid.aidRecurrence %}
            <div class="recurrence fr-mb-4w fr-grid-row">
                <div class="fr-col-1">                    
                    <span class="ri-refresh-line ri-xl" aria-hidden="true"></span>
                </div>
                <div class="fr-col-11">
                    <h2 class="fr-text--md fr-mb-0 fr-ml-1w">
                        Récurrence :
                    </h2>
                    <p class="fr-mb-0 fr-ml-1w">{{ aid.aidRecurrence.name }}</p>    
                </div>
            </div>
            {% endif %}

            {% if aid.aidAudiences|length > 0 %}
            <div class="fr-mb-4w fr-grid-row">
                <div class="fr-col-1">
                    <span class="ri-user-received-line ri-xl" aria-hidden="true"></span>
                </div>
                <div class="fr-col-11">
                    <h2 class="fr-text--md fr-mb-0 fr-ml-1w">
                        Bénéficiaires :
                    </h2>
                    <p class="fr-mb-0 fr-ml-1w">
                    {% for aidAudience in aid.aidAudiences %}
                    {{ aidAudience.name }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                    </p>
                </div>
            </div>
            {% endif %}

            <div class="fr-mb-4w fr-grid-row">
                <div class="fr-col-1">
                    <span class="fr-icon-map-pin-2-line" aria-hidden="true"></span>
                </div>
                <div class="fr-col-11">
                    <h2 class="fr-text--md fr-mb-0 fr-ml-1w">
                        Zone géographique couverte par l’aide :
                    </h2>
                    <p class="fr-mb-0 fr-ml-1w">
                        {{ aid.perimeter|perimeterSmartRegionNames }}                        
                    </p>
                </div>
            </div>

            {% if aid.isImported %}
            <div class="data-origin fr-mb-4w fr-grid-row">
                <div class="fr-col-1">
                    <span class="ri-database-2-line ri-xl"></span>
                </div>
                <div class="fr-col-11">
                    <h2 class="fr-text--md fr-text--normal fr-mb-0 fr-ml-1w">
                        <strong>Origine de la donnée :</strong> Cette aide provient d’une source de données tierce{% if aid.importDataSource and aid.importDataSource.id == 7 %}, elle a été mise a disposition d’Aides-territoires à titre gracieux par la société Welcomeurope.{% endif %}
                    </h2>
                    {% if aid.importDataSource and aid.importDataSource.id == 7 %}
                    <h2 class="fr-text--md fr-text--normal fr-mb-0 fr-ml-1w">
                        <strong>URL d’origine : </strong>traduction à partir des données du portail officiel de la Commission européenne :
                        <span class="at-break-word">
                            <a href="https://ec.europa.eu/info/funding-tenders/opportunities/portal/screen/home" target="_blank" rel="noopener">https://ec.europa.eu/info/funding-tenders/opportunities/portal/screen/home<span class="fr-sr-only"> Ouvre une nouvelle fenêtre</span></a>
                        </span>
                    </h2>
                    {% else %}
                    <h2 class="fr-text--md fr-text--normal fr-mb-0 fr-ml-1w at-break-word">
                        <strong>URL d’origine : </strong>
                        {% if aid.importDataUrl %}
                            <a href="{{ aid.importDataUrl }}" target="_blank" rel="noopener">
                                {{ aid.importDataUrl }}
                                <span class="fr-sr-only">Ouvre une nouvelle fenêtre</span>
                            </a>
                        {% else %}
                            Inconnue
                        {% endif %}
                    </h2>
                    {% endif %}
                    <h2 class="fr-text--md fr-text--normal fr-mb-0 fr-ml-1w">
                        <strong>Licence de partage : </strong>{{ aid.importShareLicence }}
                    </h2>
                    <h2 class="fr-text--md fr-text--normal fr-mb-0 fr-ml-1w">
                        <strong>Dernière mise à jour : </strong>{{ aid.dateImportLastAccess|date('d/m/Y') }}
                    </h2>
                </div>
            </div>
            {% endif %}

            {% if aid.programs|length > 0 %}
            <div class="fr-mb-4w fr-grid-row">
                <div class="fr-col-1">
                    <span class="ri-briefcase-4-fill ri-xl"></span>
                </div>
                <div class="fr-col-11" id="logos-programs">
                    <h2 class="fr-text--md fr-text--normal fr-ml-1w">
                        <strong>Programme(s) :</strong>
                    </h2>
                    {% for program in aid.programs %}
                        {% if program.logo %}
                            <a href="{{ path('app_program_details', {'slug': program.slug}) }}" class="fr-col-10 at-link__nodecorator" title="{{ program.name }}">
                                <img src="{{ getParameter('cloud_image_url') }}{{ program.logo }}" class="fr-responsive-img" alt="{{ program.name }}" />
                            </a>
                        {% else %}
                            <a href="{{ path('app_program_details', {'slug': program.slug}) }}" class="fr-col-10" title="{{ program.name }}">
                                {{ program.name }}
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endif %}

            {% if aid.keywordReferences|length > 0 %}
                <div class="fr-mb-4w fr-grid-row">
                    <div class="fr-col-1">
                        <span class="ri-double-quotes-r ri-xl"></span>
                    </div>
                    <div class="fr-col-11" id="logos-programs">
                        <h2 class="fr-text--md fr-text--normal fr-ml-1w">
                            <strong>Mot(s)-clé(s) :</strong>
                        </h2>
                        <div class="fr-list__none highlightable">
                            {% for keyword in aid.keywordReferences %}

                            {% set aidUrlParams = {'text': keyword.name} %}
                            
                            {% if app.user %}
                                {% set userSearchPreferences = app.user.getSearchPreferencesString() %}
                                {% if userSearchPreferences.target_audiences is defined %}
                                    {% set aidUrlParams = aidUrlParams|merge({'target_audiences': userSearchPreferences.target_audiences}) %}
                                {% endif %}
                                {% if userSearchPreferences.perimeter is defined %}
                                    {% set aidUrlParams = aidUrlParams|merge({'perimeter': userSearchPreferences.perimeter}) %}
                                {% endif %}
                            {% endif %}
                            <a href="{{ path('app_aid_aid', aidUrlParams) }}" class="fr-tag fr-mb-1w" title="Lancer une recherche avec le mot-clé « {{ keyword.name }} »">{{ keyword.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% elseif aid.keywords|length > 0 %}
                <div class="fr-mb-4w fr-grid-row">
                    <div class="fr-col-1">
                        <span class="ri-double-quotes-r ri-xl"></span>
                    </div>
                    <div class="fr-col-11" id="logos-programs">
                        <h2 class="fr-text--md fr-text--normal fr-ml-1w">
                            <strong>Mot(s)-clé(s) :</strong>
                        </h2>
                        <div class="fr-list__none highlightable">
                            {% for keyword in aid.keywords %}

                            {% set aidUrlParams = {'text': keyword.name} %}
                            
                            {% if app.user %}
                                {% set userSearchPreferences = app.user.getSearchPreferencesString() %}
                                {% if userSearchPreferences.target_audiences is defined %}
                                    {% set aidUrlParams = aidUrlParams|merge({'target_audiences': userSearchPreferences.target_audiences}) %}
                                {% endif %}
                                {% if userSearchPreferences.perimeter is defined %}
                                    {% set aidUrlParams = aidUrlParams|merge({'perimeter': userSearchPreferences.perimeter}) %}
                                {% endif %}
                            {% endif %}
                            <a href="{{ path('app_aid_aid', aidUrlParams) }}" class="fr-tag fr-mb-1w" title="Lancer une recherche avec le mot-clé « {{ keyword.name }} »">{{ keyword.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if aid.categories|length > 0 %}
                <div class="fr-mb-4w fr-grid-row">
                    <div class="fr-col-1">
                        <span class="ri-double-quotes-r ri-xl"></span>
                    </div>
                    <div class="fr-col-11" id="logos-programs">
                        <h2 class="fr-text--md fr-text--normal fr-ml-1w">
                            <strong>Thématiques :</strong>
                        </h2>
                        <div class="fr-list__none">
                            {% for keyword in aid.categories %}

                            {% set aidUrlParams = {'categorysearch[]': keyword.id} %}
                            
                            {% if app.user %}
                                {% set userSearchPreferences = app.user.getSearchPreferencesString() %}
                                {% if userSearchPreferences.target_audiences is defined %}
                                    {% set aidUrlParams = aidUrlParams|merge({'target_audiences': userSearchPreferences.target_audiences}) %}
                                {% endif %}
                                {% if userSearchPreferences.perimeter is defined %}
                                    {% set aidUrlParams = aidUrlParams|merge({'perimeter': userSearchPreferences.perimeter}) %}
                                {% endif %}
                            {% endif %}
                            <a href="{{ path('app_aid_aid', aidUrlParams) }}" class="fr-tag fr-mb-1w" title="Lancer une recherche avec le mot-clé « {{ keyword.name }} »">{{ keyword.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}

            <div>
                <div class="data-origin fr-mb-4w fr-grid-row">
                    <div class="fr-col-1">
                        <span class="fr-icon-flashlight-line" aria-hidden="true"></span>
                    </div>
                    <div class="fr-col-11">
                        <h2 class="fr-text--md fr-mb-0 fr-ml-1w">
                            Dernière mise à jour :
                        </h2>
                        <p class="fr-mb-0 fr-ml-1w">{{ aid.timeUpdate|format_datetime('long', 'none', locale='fr') }}</p>
                    </div>
                </div>
            </div>

            {% if aid.originUrl or aid.applicationUrl or isUserGranted(app.user, constant('App\\Entity\\User\\User::ROLE_ADMIN')) %}
                <ul class="fr-btns-group fr-btns-group--icon-left">
                    {% if isUserGranted(app.user, constant('App\\Entity\\User\\User::ROLE_ADMIN')) %}
                        <li>
                            <a id="admin-edit-page" class="fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-lock-fill" href="{{ adminEditUrl }}">
                                Modifier cette aide
                            </a>
                        </li>
                    {% endif %}
                    {% if aid.originUrl %}
                        <li>
                            {% set defaultOriginUrlText = 'Plus d’informations' %}
                            {% for program in aid.programs %}
                                {% if program.slug == 'fonds-vert' and aid.originUrl|split('.')|last == 'pdf' %}
                                    {% set defaultOriginUrlText = 'Cahier d’accompagnement' %}
                                {% endif %}
                            {% endfor %}
                            {% set currentOriginUrlText = aid.originUrlText ?? defaultOriginUrlText %}
                            <a class="fr-btn fr-btn--secondary" id="origin_url_btn" target="_blank" rel="noopener" title="Lien vers {{ currentOriginUrlText }} - ouvre une nouvelle fenêtre" href="{{ aid.originUrl }}">
                                {{ currentOriginUrlText }}
                            </a>
                        </li>
                    {% endif %}

                    {% if aid.applicationUrl %}
                        <li>
                            {% if dsDatas.ds_application_url and searchPage is not defined %}
                            <button class="fr-btn" data-fr-opened="false" aria-controls="ds-modal">
                                {% if aid.applicationUrlText %}{{ aid.applicationUrlText }}{% else %}Candidater à l’aide{% endif %}
                            </button>
                            {% else %}
                            <a class="fr-btn at-application-url-btn" id="application-url-btn-left" target="_blank" rel="noopener" title="Lien pour candidater à l’aide - ouvre une nouvelle fenêtre"
                            {% if dsDatas.prepopulate_application_url and searchPage is not defined %}
                                href="{{ dsDatas.prepopulate_application_url }}">
                            {% else %}
                                href="{{ aid.applicationUrl }}">
                            {% endif %}
                                {% if aid.applicationUrlText %}{{ aid.applicationUrlText }}{% else %}Candidater à l’aide{% endif %}
                            </a>
                            {% endif %}
                        </li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>

        <div class="aid-details highlightable fr-col-12 fr-col-md-8 fr-pb-3w fr-px-3w">

            <p class="at-color--blue">
                <strong>
                    {{ aid.getFinancersPublicOrCorporate() }}
                    {% if aid.isCharged %}
                    / AIDE PAYANTE
                    {% endif %}
                </strong>
            </p>

            <h1 class="fr-mb-5w at-color--blue">
                {% if aid.europeanAid %}<span title="aide européenne" aria-hidden="true">🇪🇺 </span>{% endif %}
                {{ aid.name }}
            </h1>

            {% if aid.nameInitial %}
            <div class="fr-mb-5w">
                <h2 class="fr-h3 fr-mb-2w">Nom initial de l’aide</h2>
                <p>« {{ aid.nameInitial }} »</p>
            </div>
            {% endif %}    

            {% if aid.shortTitle %}
            <p>« {{ aid.shortTitle }} »</p>
            {% endif %}

            
            <div class="fr-mb-5w">
                <h2 class="fr-h3 fr-mb-2w">Description</h2>
                {% if aid.description %}
                <div class="wysiwyg-wrapper">
                {{ aid.description|raw }}
                </div>
                {% else %}
                <p>Aucune description détaillée n’a été renseignée.</p>
                {% endif %}
            </div>

            {% if aid.eligibility or aid.aidDestinations|length > 0 or aid.aidSteps|length > 0 or aid.eligibilityTest or aid.isGeneric or aid.isLocal %}
            <div class="fr-mb-5w">
                <h2 class="fr-h3 fr-mb-2w">Critères d’éligibilité</h2>
                <div class="wysiwyg-wrapper">
                    {% if aid.aidSteps|length > 0 %}
                    <p class="fr-mb-2w">
                        <strong>État d’avancement du projet pour bénéficier du dispositif :</strong>
                        {% for aidStep in aid.aidSteps %}
                        {{ aidStep.name }},
                        {% endfor %}
                    </p>
                    {% endif %}

                    {% if aid.aidDestinations|length > 0 %}
                    <p class="fr-mb-2w">
                        <strong>Dépenses/actions couvertes :</strong>
                        {% for aidDestination in aid.aidDestinations %}
                        {{ aidDestination.name }},
                        {% endfor %}
                    </p>
                    {% endif %}

                    {% if aid.eligibility %}
                    <p class="fr-mb-2w">
                        <strong>Autres critères d’éligibilité :</strong>
                        {{ aid.eligibility|raw }}
                    </p>
                    {% endif %}

                    {% if aid.eligibilityTest %}
                    <div>
                        <button class="fr-btn fr-mb-5w fr-mt-2w"  data-fr-opened="false" id="aid-eligibility-test-modal-btn" aria-controls="aid-eligibility-test-modal">
                            Tester mon éligibilité !
                        </button>
                    </div>
                    {% endif %}

                    

                    {% if aid.projectExamples %}
                    <p class="fr-mb-2w">
                        <strong>Exemples de projets réalisables :</strong>
                        {{ aid.projectExamples|raw }}
                    </p>
                    {% endif %}
                    
                    
                    {% if aid.isGeneric  %}
                        <p class="fr-mb-1w" id="aides-locales">
                            <strong>Déclinaisons locales :</strong> En l’absence d’aide locale, les informations relatives à cette aide nationale font foi.
                        </p>
                        {% if aid.aidsFromGenericLive %}
                            <div id="localAidsLinks">
                                <ul>
                                    {% for localAid in aid.aidsFromGenericLive %}
                                        <li><a href="{{ path('app_aid_aid_details', {'slug': localAid.slug }) }}">{{ localAid.perimeter.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}

                        {% if app.user and app.user.isContributor %}
                            {% include 'aid/aid/_generic_to_local.html.twig' %}
                        {% endif %}

                    {% endif %}

                    {% if aid.isLocal and aid.localCharacteristics %}
                    <h3 class="fr-h4 fr-mb-2w">Spécificités locales</h3>
                    {{ aid.localCharacteristics|raw }}
                    {% endif %} 
                </div>
            </div>
            {% endif %}

            {% if aid.contact or aid.applicationUrl or aid.originUrl %}
            <div class="fr-mb-5w" id="contact">
                <h2 class="fr-h3 fr-mb-2w">Contact</h2>
                <div>
                    {% if aid.contact %}
                    {{ addMailtoToEmailLinks(aid.contact|sanitize_html)|raw }}
                    {% endif %}
    
                    <ul class="fr-btns-group fr-btns-group--inline-md fr-btns-group--right">
                        {% if aid.originUrl %}
                            <li>
                                {% set defaultOriginUrlText = 'Plus d’informations' %}
                                {% for program in aid.programs %}
                                    {% if program.slug == 'fonds-vert' and aid.originUrl|split('.')|last == 'pdf' %}
                                        {% set defaultOriginUrlText = 'Cahier d’accompagnement' %}
                                    {% endif %}
                                {% endfor %}
                                {% set currentOriginUrlText = aid.originUrlText ?? defaultOriginUrlText %}
                                <a class="fr-btn fr-btn--secondary" id="origin_url_btn" target="_blank" rel="noopener" title="Lien vers {{ currentOriginUrlText }} - ouvre une nouvelle fenêtre" href="{{ aid.originUrl }}">
                                    {{ currentOriginUrlText }}
                                </a>
                            </li>
                        {% endif %}

                        {% if aid.applicationUrl %}
                        <li>
                            {% if dsDatas.ds_application_url and searchPage is not defined %}
                            <button class="fr-btn" data-fr-opened="false" aria-controls="ds-modal">
                                {% if aid.applicationUrlText %}{{ aid.applicationUrlText }}{% else %}Candidater à l’aide{% endif %}
                            </button>
                            {% else %}
                            <a class="fr-btn at-application-url-btn" id="application-url-btn-bottom" target="_blank" rel="noopener" title="Lien pour candidater à l’aide - ouvre une nouvelle fenêtre"
                            {% if dsDatas.prepopulate_application_url and searchPage is not defined %}
                                href="{{ dsDatas.prepopulate_application_url }}">
                            {% else %}
                                href="{{ aid.applicationUrl }}">
                            {% endif %}
                                {% if aid.applicationUrlText %}{{ aid.applicationUrlText }}{% else %}Candidater à l’aide{% endif %}
                            </a>
                            {% endif %}
                        </li>
                        {% endif %} 
                    </ul>
                </div>
            </div>
            {% endif %}
        </div>
    </section>
</article>

<div class="fr-container fr-pt-3w fr-px-6w fr-mb-5w">
    <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center">
        <div id="share-aid-block" class="fr-col-xs-12 fr-col-sm-12 fr-col-md-12 fr-col-lg-4">
            <div class="fr-card fr-card--no-arrow">
                <div class="fr-card__body at-background-alt-green">
                    <div class="fr-card__content">
                        <div class="fr-card__title fr-grid-row fr-grid-row--gutters fr-grid-row--center fr-grid-row--middle fr-grid-row--bottom">
                            <div class="fr-col-xs-12 fr-col-sm-12 fr-col-md-12 fr-col-lg-2 at-centered">
                                <span class="ri-share-line ri-2x fr-text--normal"></span>
                            </div>
                            <h3 class="fr-h5 fr-col-xs-12 fr-col-lg-10 fr-my-0">
                                Vous souhaitez diffuser cette aide ?
                            </h3>
                        </div>
                        <p class="fr-card__desc fr-text--sm fr-mt-3w">L’outil très pratique pour partager facilement cette aide sur vos différents réseaux en un seul clic.</p>
                    </div>
                    <div class="fr-card__footer">
                        <div class="at-centered">
                            <button class="fr-btn" data-fr-opened="false" aria-controls="share-modal">
                                Envoyer à mes réseaux
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if searchPage is not defined %}
        <div id="add-to-project-block" class="fr-col-xs-12 fr-col-sm-12 fr-col-md-12 fr-col-lg-4">
            <div class="fr-card fr-card--no-arrow">
                <div class="fr-card__body at-background-alt-green">
                    <div class="fr-card__content">
                        <div class="fr-card__title fr-grid-row fr-grid-row--gutters fr-grid-row--center fr-grid-row--middle fr-grid-row--bottom">
                            <div class="fr-col-xs-12 fr-col-sm-12 fr-col-md-12 fr-col-lg-2 at-centered">
                                <span class="ri-list-check ri-2x fr-text--normal"></span>
                            </div>
                            <h3 class="fr-h5 fr-col-xs-12 fr-col-lg-10 fr-my-0">
                                Cette aide correspond à un de vos projets ?
                            </h3>
                        </div>
                        <p class="fr-card__desc fr-text--sm fr-mt-3w">Ajoutez-la pour la retrouver dans votre compte utilisateur et la partager facilement avec votre équipe.</p>
                    </div>
                    <div class="fr-card__footer">
                        <div class="at-centered">
                            <button class="fr-btn" id="match-aid-modal-btn" {% if open_modal %}data-fr-opened="true"{% else %}data-fr-opened="false"{% endif %} aria-controls="match-aid-modal">
                                Ajouter cette aide à un projet
                            </button>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
        {% endif %}

        {% if searchPage is not defined %}
        <div id="add-to-project-block" class="fr-col-xs-12 fr-col-sm-12 fr-col-md-12 fr-col-lg-4">
            <div class="fr-card fr-card--no-arrow">
                <div class="fr-card__body at-background-alt-green">
                    <div class="fr-card__content">
                        <div class="fr-card__title fr-grid-row fr-grid-row--gutters fr-grid-row--center fr-grid-row--middle fr-grid-row--bottom">
                            <div class="fr-col-xs-12 fr-col-sm-12 fr-col-md-12 fr-col-lg-2 at-centered">
                                <span class="ri-list-check ri-2x fr-text--normal"></span>
                            </div>
                            <h3 class="fr-h5 fr-col-xs-12 fr-col-lg-10 fr-my-0">
                                Cette aide correspond à un de vos projets publics favoris ?
                            </h3>
                        </div>
                        <p class="fr-card__desc fr-text--sm fr-mt-3w">Suggérez-la à l'équipe porteuse du projet.</p>
                    </div>
                    <div class="fr-card__footer">
                        <div class="at-centered">
                            <button class="fr-btn" data-fr-opened="{% if openModalSuggest is defined and openModalSuggest  %}true{% else %}false{% endif %}" aria-controls="suggest-aid-modal">
                                Suggérer cette aide pour un projet
                            </button>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
        {% endif %}

    </div>
</div>
{% endblock %}

{% block modal %}
    {% include 'aid/aid/_share_modal.html.twig' %}
    {% include 'aid/aid/_add_to_project_modal.html.twig' %}
    {% include 'aid/aid/_suggest_aid_modal.html.twig' %}
{% endblock %}

{% block javascriptsBottom %}
    {% cspscript %}
    <script>
    const aidSlug = '{{ aid.slug }}';
    </script>
    {% endcspscript %}
    {% cspscript %}
        <script>
            {% if dsDatas.prepopulate_application_url %}
                var PREPOPULATE_APPLICATION_URL = true;
                var ORGANIZATION = {% if app.user and app.user.defaultOrganization %}parseInt('{{ app.user.defaultOrganization.id }}'){% else %}0{% endif %};
                var USER = {% if app.user %}parseInt('{{ app.user.id }}'){% else %}0{% endif %};
                var DS_FOLDER_URL = '{{ dsDatas.prepopulate_application_url }}';
                var DS_FOLDER_ID = '{{ dsDatas.ds_folder_id }}';
                var DS_FOLDER_NUMBER = parseInt('{{ dsDatas.ds_folder_number }}');
            {% else %}
                var PREPOPULATE_APPLICATION_URL = false;
            {% endif %}
            TEXT_SEARCH = {% if aid.keywords and aid.keywords[0] is defined %}'{{ aid.keywords[0].name }}'{% else %}''{% endif %};
            AID_ID = parseInt('{{ aid.id }}');
            AID_SLUG = '{{ aid.slug }}';
            AID_ELIGIBILITY_TEST_ID =  {% if aid.eligibilityTest %}parseInt('{{ aid.eligibilityTest.id }}'){% else %}0{% endif %};
            CURRENT_SEARCH = {% if aid.keywords and aid.keywords[0] is defined %}'text={{ aid.keywords[0].name|url_encode }}'{% else %}''{% endif %};
        </script>
    {% endcspscript %}

    {% set sib_client_key = getParameter('sib_client_key') %}
    {% if sib_client_key %}
        {% set sib_email_id = getUserSibEmailId(app.user) %}
        {% cspscript %}
        <script type="text/javascript">
            (function() {
                window.sib = {
                    equeue: [],
                    client_key: "{{ sib_client_key }}"
                };
                {% if sib_email_id %}
                window.sib.email_id = "{{ sib_email_id }}";
                {% endif %}
                window.sendinblue = {};
                for (var j = ['track', 'identify', 'trackLink', 'page'], i = 0; i < j.length; i++) {
                (function(k) {
                    window.sendinblue[k] = function() {
                        var arg = Array.prototype.slice.call(arguments);
                        (window.sib[k] || function() {
                                var t = {};
                                t[k] = arg;
                                window.sib.equeue.push(t);
                            })(arg[0], arg[1], arg[2], arg[3]);
                        };
                    })(j[i]);
                }
                var n = document.createElement("script"),
                    i = document.getElementsByTagName("script")[0];
                n.type = "text/javascript", n.id = "sendinblue-js", n.async = !0, n.src = "https://sibautomation.com/sa.js?key=" + window.sib.client_key, i.parentNode.insertBefore(n, i), window.sendinblue.page();
            })();
        </script>
        {% endcspscript %}
    {% endif %}

    {% if highlightedWords is defined and highlightedWords|length > 0 %}
        {% cspscript %}
        <script>
            const highlightedWords = [];
            {% for word in highlightedWords %}
                highlightedWords.push('{{ word }}');
            {% endfor %}
        </script>
        {% endcspscript %}
    {% endif %}
{% endblock %}
