<nav class="fr-nav" id="navigation-menu-mobile" role="navigation" aria-label="Menu principal" data-fr-js-navigation="true">
	<ul class="fr-nav__list">
		<li class="fr-nav__item" data-fr-js-navigation-item="true">
			<a class="fr-nav__link" href="{{ path('app_home') }}" target="_self" title="Accueil">Accueil</a>
		</li>
		<li class="fr-nav__item" data-fr-js-navigation-item="true">
			<button class="fr-nav__btn" aria-expanded="false" aria-controls="menu-projets" data-fr-js-collapse-button="true" title="Projets">Projets</button>
			<div class="fr-collapse fr-menu" id="menu-projets" data-fr-js-collapse="true">
				<ul class="fr-menu__list">
					<li class="fr-nav__item" data-fr-js-navigation-item="true">
						<a class="fr-nav__link" href="{{ path('app_project_project_subsidized') }}" target="_self" title="Projets subventionnés">Projets subventionnés</a>
					</li>
					<li class="fr-nav__item" data-fr-js-navigation-item="true">
						<a class="fr-nav__link" href="{{ path('app_project_project_public') }}" target="_self" title="Projets publics">Projets publics</a>
					</li>
				</ul>
			</div>
		</li>
		<li class="fr-nav__item" data-fr-js-navigation-item="true">
			<a class="fr-nav__link" href="{{ path('app_cartography_cartography') }}" target="_self" title="Cartographie">Cartographie</a>
		</li>
		<li class="fr-nav__item" data-fr-js-navigation-item="true">
			<a class="fr-nav__link" href="{{ path('app_program_program') }}" target="_self" title="Programmes d’aides">Programmes d’aides</a>
		</li>
		<li class="fr-nav__item" data-fr-js-navigation-item="true">
			<a class="fr-nav__link" href="{{ path('app_blog_blog') }}" target="_self" title="Actualités">Actualités</a>
		</li>
		<li class="fr-nav__item" data-fr-js-navigation-item="true">
			<a class="fr-nav__link" href="{{ path('app_portal_portal') }}" target="_self" title="Portails">Portails</a>
		</li>
		<li class="fr-nav__item" data-fr-js-navigation-item="true">
			<a class="fr-nav__link" href="{{ path('app_portal_portal_details', {'slug': 'europe'}) }}" target="_self" title="Europe">Europe</a>
		</li>
		<li class="fr-nav__item" data-fr-js-navigation-item="true">
			<button class="fr-nav__btn" aria-expanded="false" aria-controls="menu-en-savoir-plus" data-fr-js-collapse-button="true" title="En savoir plus">En savoir plus</button>
			<div class="fr-collapse fr-menu" id="menu-en-savoir-plus" data-fr-js-collapse="true">
				<ul class="fr-menu__list">
					<li>
						<a class="fr-nav__link" href="{{ path('app_page_custom', {'url': 'plateforme-aides-territoires'}) }}" target="_self" title="La démarche">La démarche</a>
					</li>
					<li>
						<a class="fr-nav__link" href="{{ path('app_page_custom', {'url': 'porteurs-aides'}) }}" target="_self" title="Porteurs d’aides">Porteurs d’aides</a>
					</li>
					<li>
						<a class="fr-nav__link" href="{{ path('app_page_custom', {'url': 'aides-collectivités'}) }}" target="_self" title="Collectivités">Collectivités</a>
					</li>
					<li>
						<a class="fr-nav__link" href="{{ path('app_static_data') }}" target="_self" title="Données et API">Données et API</a>
					</li>
					<li>
						<a class="fr-nav__link" href="{{ path('app_static_stats') }}" target="_self" title="Statistiques">Statistiques</a>
					</li>
					<li>
						<a class="fr-nav__link" href="{{ path('app_static_sitemap') }}" target="_self" title="Plan du site">Plan du site</a>
					</li>
					<li>
						<a class="fr-nav__link" href="{{ path('app_page_custom', {'url': 'faq'}) }}" target="_self" title="Foire aux questions">Foire aux questions</a>
					</li>
					<li>
						<a class="fr-nav__link" href="{{ path('app_contact_contact')}}" target="_self" title="Contact">Contact</a>
					</li>
				</ul>
			</div>
		</li>
	</ul>

	{% if app.environment and app.environment != 'prod' %}
		<div class="fr-alert fr-alert--warning fr-mb-2w">
			<h3 class="fr-alert__title">Attention environnement</h3>
			<p>Vous n'êtes pas en prod</p>
		</div>
	{% endif %}
