{% extends 'admin/statistics/_stats_base.html.twig' %}

{% block breadcrumb %}
{% endblock %}

{% block stats_content %}
<section class="container">
    <h1>Communes statistiques</h1>
    <div class="my-4 chart-max-size">{{ render_chart(chartRegistrationByMonth) }}</div>
    <div class="my-4">
        <a href="{{ path('admin_statistics_commune_export_registration_by_month') }}" class="btn btn-primary">
            <i class="fas fa-file-csv"></i> Export CSV
        </a>
    </div>
    <div class="my-4 chart-max-size-600">{{ render_chart(chartNbPerimeterByNbOrganization) }}</div>
    <div class="my-4 chart-max-size">{{ render_chart(chartNbApByMonth) }}</div>
    <div class="my-4">
        <a href="{{ path('admin_statistics_commune_export_nb_ap_by_month') }}" class="btn btn-primary">
            <i class="fas fa-file-csv"></i> Export CSV
        </a>
    </div>
</section>
</section>
{% endblock %}