{% extends 'admin/statistics/_stats_base.html.twig' %}

{% block breadcrumb %}{% endblock %}

{% block stats_content %}
	<section class="container">
		<h1>Statistiques Utilisateurs</h1>
		<div class="my-4">
			<ul>
				<li>{{ nbUsers }}
					utilisateurs enregistrés en base</li>
				<li>{{ nbLoggedAtLeastOnce }}
					({{ percentNbLoggedAtLeastOnce }}%) se sont connecté au moins une fois</li>
				<li>{{ nbUsersLoggedOnce }}
					({{ percentNbUsersLoggedOnce }}%) ne se sont connecté qu'une seule fois</li>
			</ul>

		</div>

		<div class="my-4 chart-max-size">{{ render_chart(chartLoginsByQuarter) }}</div>
		<div class="my-4 chart-max-size">{{ render_chart(chartLoginsByMonth) }}</div>
		<div class="my-4 chart-max-size">{{ render_chart(chartLoginsByWeek) }}</div>
	</section>
{% endblock %}
