{% extends 'admin/statistics/dashboard.html.twig' %}

{% block date_range_form %}
	{% include 'admin/statistics/_form_date_range.html.twig' %}
{% endblock date_range_form %}

{% block stats_content %}
	<div id="acquisition-panel" class="fr-tabs__panel fr-tabs__panel--selected" role="tabpanel" aria-labelledby="acquisition" tabindex="0">
		<div class="d-flex">
			<div class="card col">
				<div class="card-body d-flex flex-column justify-content-between">
					<h5 class="card-title">
						<a class="card-link" href="#">Entrées directes</a>
					</h5>
					<p class="card-text fs-2">
						<strong>{{ statsMatomoReferer.Referrers_visitorsFromDirectEntry }}</strong>
					</p>
				</div>
			</div>
			<div class="card col">
				<div class="card-body d-flex flex-column justify-content-between">
					<h5 class="card-title">
						<a class="card-link" href="#">Depuis les moteurs</a>
					</h5>
					<p class="card-text fs-2">
						<strong>{{ statsMatomoReferer.Referrers_visitorsFromSearchEngines }}</strong>
					</p>
				</div>
			</div>
			<div class="card col">
				<div class="card-body d-flex flex-column justify-content-between">
					<h5 class="card-title">
						<a class="card-link" href="#">Depuis d’autres sites</a>
					</h5>
					<p class="card-text fs-2">
						<strong>{{ statsMatomoReferer.Referrers_visitorsFromWebsites }}</strong>
					</p>
				</div>
			</div>
			<div class="card col">
				<div class="card-body d-flex flex-column justify-content-between">
					<h5 class="card-title">
						<a class="card-link" href="#">Depuis les newsletters</a>
					</h5>
					<p class="card-text fs-2">
						<strong>{{ statsMatomoReferer.Referrers_visitorsFromCampaigns }}</strong>
					</p>
				</div>
			</div>
			<div class="card col">
				<div class="card-body d-flex flex-column justify-content-between">
					<h5 class="card-title">
						<a class="card-link" href="#">Depuis les réseaux sociaux</a>
					</h5>
					<p class="card-text fs-2">
						<strong>{{ statsMatomoReferer.Referrers_visitorsFromSocialNetworks }}</strong>
					</p>
				</div>
			</div>
		</div>

		<h3 class="mt-5">
			<span aria-hidden="true">🧲
			</span>Principales sources d’entrées sur la période ({{ dateMin|date('d/m/Y') }}→{{ dateMax|date('d/m/Y') }}) :</h3>
		<div class="alert alert-info">
			<p>Entrées sur le site en fonction du domaine, aucun regroupement n’est fait sur les sous-domaines des listes de diffusion.</p>
			<p>La colonne excluant la recherche permet d’avoir des écarts résultants d’actions de l’équipe plus significatifs.</p>
		</div>
		<div class="table-responsive mt-5">
			<table class="table table-striped dataTable">
				<caption>Principales sources d’entrées</caption>
				<thead>
					<tr>
						<th scope="col">Domaine</th>
						<th scope="col">Visites</th>
						<th scope="col">Pourcentage</th>
						<th scope="col">Pourcentage (sans la recherche)</th>
					</tr>
				</thead>
				<tbody>
					{% for label, counts in referrers %}
						<tr>
							<td scope="row">{{ label }}</td>
							<td>
								{% if counts.nb_visits is defined %}
									{{ counts.nb_visits }}{% else %}-
								{% endif %}
							</td>
							<td>
								{% if counts.percentage_total is defined %}
									{{ counts.percentage_total }}{% else %}-
								{% endif %}
							</td>
							<td>
								{% if counts.percentage_without_search is defined %}
									{{ counts.percentage_without_search }}{% else %}-
								{% endif %}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<h3 class="mt-5">
			<span aria-hidden="true">🙋
			</span>Nouvelles inscriptions sur la période ({{ dateMin|date('d/m/Y') }}→{{ dateMax|date('d/m/Y') }}) :</h3>
		<div class="alert alert-info">
			<p>Flux des inscriptions avec une cadence hebdomadaire classique.</p>
		</div>

		<div class="charts">
			{{ render_chart(chartInscriptions) }}
		</div>

		<div class="alert alert-info">
			<p>Tableau de détail des inscriptions sur la période.</p>
			<p>Cela permet d’identifier si les pics correspondent à des actions localisées par exemple.</p>
		</div>
		<div class="table-responsive mt-5">
			<table class="table table-striped dataTable">
				<caption>Nouvelles inscription sur la périodes</caption>
				<thead>
					<tr>
						<th scope="col">Nom</th>
						<th scope="col">Courriel</th>
						<th scope="col">Date d’inscription</th>
						<th scope="col">Organisation</th>
						<th scope="col">Type</th>
					</tr>
				</thead>
				<tbody>
					{% for user in userRegisters %}
						<tr>
							<td scope="row">{{ user.firstname }}{{ user.lastname }}</td>
							<td>{{ user.email }}</td>
							<td>{{ user.dateCreate|date('d/m/Y') }}</td>
							<td>
								{% if user.defaultOrganization %}
									{{ user.defaultOrganization.name }}
								{% endif %}
							</td>
							<td>
								{% if user.defaultOrganization and user.defaultOrganization.organizationType %}
									{{ user.defaultOrganization.organizationType }}
								{% endif %}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock stats_content %}
