<nav role="navigation" class="fr-pagination" aria-label="Pagination">
	<ul class="fr-pagination__list">
		{% if previousPage > 0 %}
			<li>
				<a class="fr-pagination__link fr-pagination__link--first" href="?page=1">
					Première page
				</a>
			</li>
			<li>
				<a class="fr-pagination__link fr-pagination__link--prev fr-pagination__link--lg-label" href="?page={{ previousPage }}">
					Page précédente
				</a>
			</li>
		{% endif %}
		<li>
			<span class="fr-pagination__link" aria-current="page">
				Page
				{{ currentPage }}
				sur
				{{ nbPages }}
			</span>
		</li>
		{% if currentPage < nbPages %}
			<li>
				<a class="fr-pagination__link fr-pagination__link--next fr-pagination__link--lg-label" href="?page={{ nextPage }}">
					Page suivante
				</a>
			</li>
			<li>
				<a class="fr-pagination__link fr-pagination__link--last fr-unhidden-lg" href="?page={{ nbPages }}">
					Dernière page
				</a>
			</li>
		{% endif %}
	</ul>
</nav>
