{% extends 'base.html.twig' %}

{% block title %}Mon projet | {{ parent() }}{% endblock %}

{% block body %}

<div class="fr-container fr-mb-5w fr-mt-0">
    <div class="fr-grid-row">
         {% include "user/_menu_user.html.twig" with { user_project:true, user_project_structure:true } %}
        
        <div class="fr-col-12 fr-col-md-9">
             <div class="fr-grid-row">
              <div class="fr-col-12 fr-col-md-9">
                  <h1 class="fr-h3">Mon projet « {{ project.name }} »</h1>
              </div>
              <div class="fr-col-12 fr-col-md-3">
                <a href="{{ path('app_user_project_structure') }}" class="fr-m-1w fr-tag _fr-tag--md fr-text--md fr-icon-arrow-left-line fr-tag--icon-left">Retour aux projets</a>
              </div>
            </div>
            <div class="fr-tabs fr-mt-0w fr-mb-5w">
              {% include "user/project/_menu_project.html.twig" with { similaires: true, project_id: project.id, project_slug: project.slug } %}
              <div id="tabpanel_projets_similaires" class="fr-tabs__panel" role="tabpanel" aria-labelledby="tabpanel_projets_similaires" tabindex="0">
                
                <h2 class="fr-h6">Projets publics :</h2>
                <div class="fr-grid-row" id="projects-list">
                {% if projets_publics %}
                 <p>Voici des exemples de projets similaires en cours de réalisation ou récemment finalisés, réalisés par des communes voisines. Ces exemples vous offriront des idées inspirantes, des pratiques à suivre, et peut-être même des pièges à éviter.</p>
                {% include "project/project/_projects_publics_as_list.html.twig" with { projects: projets_publics, showDistance: true} %}
                
                {% else %}
                <div class="fr-col-12 fr-mb-5w">
                    <div class="fr-alert fr-alert--info fr-alert--sm">
                        <p>Nous n’avons pu trouver aucun projet public qui soit similaire au vôtre.</p>
                    </div>
                </div>
                {% endif %}
              </div>
              <div class="fr-container at-centered fr-mb-3w">
              
                <a class="fr-btn _fr-icon-search-line" href="{{ path('app_project_project_public') }}" title="Trouver des projets">Voir d'autres projets publics</a>
              </div>
                                
                <h2 class="fr-h6">Projets subventionnés :</h2>
                {% if myPager.getNbResults %}
                  <p>Découvrez ci-dessous une sélection de projets qui ont bénéficié de subventions dans l'entourage de votre collectivité. Nous vous encourageons à prendre contact avec les mairies locales afin d'obtenir de plus amples informations.</p>
                   <div class="fr-table" id="project_in_list">
                      <table title="Liste des projets subventionnés" id="validated_projects_table">
                          <caption class="fr-sr-only">
                              Liste des projets subventionnés
                          </caption>
                          <thead>
                              <tr>
                                  <th scope="col">Distance</th>
                                  <th scope="col">Année</th>
                                  <th scope="col">Mairie</th>
                                  <th scope="col">Projet</th>
                                  <th scope="col">Aide</th>
                                  <th scope="col">Porteur de l’aide</th>
                                  <th scope="col">Coût total</th>
                                  <th scope="col">Subvention accordée</th>
                              </tr>
                          </thead>
                          <tbody>
                            {% for project in myPager.currentPageResults %}
                                <tr>
                                    <td data-order="{{ project.distance|round(2) }}">
                                        {% if project.distance > 0 %}{{ project.distance|round(2) }} km{% endif %}
                                    </td> 

                                <td>{{ project.timeObtained|date("Y")}}</td>
                                <td>
                                    {{ project.organization.name }}
                                </td>
                                <td>
                                   {{ project.projectName }}
                                </td>
                                <td>
                                    {% if project.aid  %}
                                        {{ project.aid.name}}
                                    {% else %}
                                        {{ project.aidName }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if project.financer %}
                                        <a href="{{ path('app_backer_details', {'id':project.financer.id, 'slug': project.financer.slug}) }}"  >
                                            {{ project.financer.name}}
                                        </a>
                                    {% else %}
                                        {{ project.financerName }}
                                    {% endif %}
                                </td>
                                <td class="number_one_line" data-order="{{ project.budget }}">{{ project.budget|number_format(0, ',', '&nbsp;')|raw }} €</td>
                                <td class="number_one_line" data-order="{{ project.amountObtained }}">
                                    {% if project.amountObtained %}
                                        {{ project.amountObtained|number_format(0, ',', '&nbsp;')|raw }} €
                                        ({{ (project.amountObtained/project.budget*100)|round }}%)
                                    {% else %}
                                        inconnue
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                          </tbody>
                      </table>

                         <div class="fr-container fr-grid-row fr-grid-row--center fr-my-5w">
                            {{ pagerfanta(myPager) }}
                        </div>
                  </div>
              {% else %}
                <p>Désolé, mais nous n'avons pas trouvé de projets subventionnés qui correspondent à votre projet.</p>
              {% endif %}
              </div> <!-- fin tabpanel-->
            </div>
        </div>
    </div>
</div>




{% endblock %}
