{% extends "@EasyAdmin/page/content.html.twig" %}

{% block head_stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('import-scss/admin/perimeter/combine') }}
{% endblock %}

{% block main %}
<main>

<section class="content-header">
    <div class="content-header-title">
        <h1 class="title">Combinaison de périmètre</h1>
    </div>

    <div class="page-actions">
        <a href="{{ backUrl }}" class="btn btn-secondary"><i class="fas fa-angle-left"></i> Retour à l'édition du périmètre</a>
    </div>
</section>

<p>A partir du périmètre <strong>{{ perimeter.name }}</strong></p>
<p>Utilisez ce formulaire pour configurer ce périmètre comme une combinaison d’autres périmètres. Attention, la configuration actuelle sera remise à zéro. </p>

{{ form_start(formCombine) }}
    {{ form_row(formCombine.perimetersToAdd) }}
    {{ form_row(formCombine.perimetersToRemove) }}
    <div class="form-row">
        <button type="submit" class="btn btn-primary">Envoyer</button>
    </div>
{{ form_end(formCombine) }}
</main>
{% endblock %}