{% extends "@EasyAdmin/page/content.html.twig" %}

{% block head_javascript %}
    {{ parent() }}
    {{ encore_entry_script_tags('admin/perimeter/perimeter-import') }}
{% endblock head_javascript %}

{% block main %}
<main>

<h1 class="title">Importation de : {{ perimeterImport.adhocPerimeter.name }}</h1>

<div>
    <p>Nombre de codes insee à importer : {{ perimeterImport.nbCities }}</p>
    <p><button type="button" class="btn btn-primary" id="start-import">Lancer l'importation</button></p>
    <div id="timer-tracking"></div>
</div>

<div class="progress" style="height: 50px;">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="{{ perimeterImport.nbCities }}" style="height: 50px;">0%</div>
</div>
<br />

<div>
    <p>Code insee non trouvé : (si des codes insee ne correspondent pas à des périmètres, ils seront affichés ci-dessous)</p>
    <ul id="not-found-list">
    </ul>
</div>

</main>
{% endblock %}

{% block body_javascript %}
<script>
var url = "{{ path('admin_perimeter_import_ajax') }}";
var start = 0;
var current = 0;
var max = {{ perimeterImport.nbCities }};
var idPerimeterImport = {{ perimeterImport.id }};
var cityCodes = [];
{% for cityCode in perimeterImport.cityCodes %}
cityCodes.push("{{ cityCode }}");
{% endfor %}
</script>
{% endblock body_javascript %}