<dialog aria-labelledby="fr-modal-title-add-to-favorite--{{ project.id }}" role="dialog" id="add-to-favorite-modal--{{ project.id }}" class="fr-modal">
	<div class="fr-container fr-container--fluid fr-container-md">
		<div class="fr-grid-row fr-grid-row--center">
			<div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
				<div class="fr-modal__body">
					<div class="fr-modal__header">
						<button class="fr-btn fr-btn--close" title="Fermer la fenêtre modale" aria-controls="add-to-favorite-modal--{{ project.id }}">Fermer</button>
					</div>
					<div class="fr-modal__content">
						<h2 id="fr-modal-title-add-to-favorite--{{ project.id }}" class="fr-modal__title fr-mt-0">
							<span class="fr-icon-arrow-right-line fr-icon--lg"></span>Ajouter ce projet à mes favoris</h2>
						<p class="fr-mb-2w">Vous pouvez désormais suivre vos projets favoris, pour vous inspirer, suivre leur actualité et les aides qui y sont rattachées/suggérées</p>
						<p>Si vous accompagnez plusieurs collectivités, vous pouvez ainsi suivre en parallèle leurs projets via votre compte, et leur conseiller des aides, tout en partageant ces informations avec la communauté Aides-territoires.</p>
						{% if app.user and formAddToFavorite is defined %}
							{{ form_start(formAddToFavorite) }}
							<button class="btn-block fr-btn fr-mt-2w" type="submit">
								Ajouter ce projet
							</button>
							<button class="btn-block fr-btn fr-btn--secondary" type="button" title="Fermer la fenêtre modale" aria-controls="add-to-favorite-modal--{{ project.id }}">Annuler</button>
							{{ form_end(formAddToFavorite) }}
						{% else %}
							<p>
								<a href="{{ path('app_login') }}">Connectez-vous</a>
								ou
								<a href="#">créez un compte</a>
								afin d’ajouter ce projet à vos favoris !</p>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</dialog>
