{% extends 'base.html.twig' %}

{% block title %}Trouvez des projets similaires réalisés par des mairies proches | Aides-territoires
{% endblock %}

{% block meta_description %}Inspirez-vous des projets réalisés par des mairies voisines au fil des années. Aides Territoires vous permet de facilement trouver des idées et des solutions adaptées à votre ville.
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('import-scss/project/project') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% cspscript %}
	<script type="text/javascript">
		let departments_data = {{ departmentsData|json_encode|raw }};
	</script>
	{% endcspscript %}
	{{ encore_entry_script_tags('front/project/project') }}
{% endblock %}

{% block body %}
	<div class="fr-container">
		<div>
			<h1>
				<span class="result-count">
					Inspirez-vous des
					{{ projects_count }}
					projets similaires aux vôtres !
				</span>
			</h1>

			<h2 class="fr-h5 fr-col-lg-10">
				Vous avez un projet ? Pour vous inspirer, consultez les projets mis en place dans les communes proches de chez vous.
			</h2>

			<div id="search-engine" class="fr-mb-2w">

				<div class="fr-card">
					<div class="fr-card__body">
						<div class="fr-card__content">
							{{ form_start(formProjectSearch) }}
							<div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center fr-grid-row--bottom">
								<div class="fr-col-12 fr-col-md-4">
									{{form_row(formProjectSearch.project_perimeter)}}
								</div>
								<div class="fr-col-12 fr-col-md-4">
									{{form_row(formProjectSearch.text)}}
								</div>

								<div class="fr-col-12 fr-col-md-4">
									<button name="commune_search" value="true" class="fr-btn fr-mb-0" title="Rechercher" type="submit">
										<span class="fr-icon-search-line fr-mr-1w" aria-hidden="true"></span>
										Rechercher
									</button>
								</div>
							</div>
							{{ form_end(formProjectSearch) }}
						</div>
					</div>
				</div>

			</div>
		</div>
		<div>
			{% include 'project/project/_map.html.twig' %}
		</div>

		<div class="fr-alert fr-alert--info fr-mb-6w">
			<h3 class="fr-alert__title">Précautions d’usage de ce moteur de recherche</h3>

			<p>
				Ce moteur de recherche est destiné à inspirer les collectivités
				            porteuses de projets en les aidant à identifier les projets
				            similaires aux leurs, réalisés à proximité de chez elles ou sur un
				            périmètre plus large.
			</p>

			<p>
				Étant entendu que des intitulés proches peuvent couvrir des
				            réalités très diverses, que les projets référencés peuvent avoir
				            des sources de financement diverses, et que les porteurs d’aides
				            suivent chacun leurs propres règles d’attributions, cette base,
				            constituée à partir de données publiques, ne saurait constituer une
				            quelconque référence en matière de montants de subventions alloués
				            aux projets des collectivités.
			</p>

			<p>
				Pour la DETR et la DSIL par exemple, qui sont les premières aides
				            référencées, une circulaire annuelle, territorialisée, et envoyée à
				            toutes les collectivités, vient préciser les opérations éligibles,
				            les plafonds et taux d’intervention, mais également les critères
				            (opérationnels, financiers, ou autres) de priorisation des
				            accompagnements. Tous ces critères sont variables d’une année et
				            d’un territoire à l’autre, et les opérations candidates à la DETR
				            font également l’objet d’une revue par une Commission des élus,
				            présidée par le Préfet.
			</p>

		</div>
	</div>
{% endblock %}
