{% extends 'base.html.twig' %}


{% block title %}
	{{program.name}}
	| Aides-territoires
{% endblock %}

{% block meta_description %}Les aides du programme
	{{program.name}}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('import-scss/aid/aid/index') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('form/entity-checkbox-absolute-type') }}
	{{ encore_entry_script_tags('front/aid/aid/index') }}
	{{ encore_entry_script_tags('front/program/tab_url_parameters') }}
{% endblock %}

{% block body %}

	<article id="program" class="fr-container fr-mb-5w fr-pb-5w">
		<div id="program-content">

			<div id="program-title">
				{% if program.logo %}
					<div class="fr-grid-row fr-grid-row--middle">
						<div class="fr-col-12 fr-col-md-9">
							<h1>{{ program.name }}</h1>
						</div>
						<div class="fr-col-12 fr-col-md-3">
							<img src="{{ getParameter('cloud_image_url') }}{{ program.logo }}" alt="logo {{ program.name }}" class="fr-responsive-img">
						</div>
					</div>
				</div>
			{% else %}
				<h1>{{ program.name }}</h1>
			{% endif %}
		</div>

		<div class="fr-tabs">
			<ul class="fr-tabs__list" role="tablist" aria-label="Onglets du programme">
				<li role="presentation">
					<button id="tabpanel-program-description" class="fr-tabs__tab" tabindex="0" aria-selected="{% if tabSelected == 'program-description' or tabSelected is null %}true{% else %}false{% endif %}" role="tab" aria-controls="tabpanel-program-description-panel">Présentation générale</button>
				</li>

				{% for tab in program.pageTabs %}
					{% if tab.active %}
						<li role="presentation">
							<button id="tabpanel-{{tab.name}}" class="fr-tabs__tab" tabindex="-1" aria-selected="{% if tabSelected == tab.name %}true{% else %}false{% endif %}" role="tab" aria-controls="tabpanel-{{tab.name}}-panel">{{ tab.name }}</button>
						</li>
					{% endif %}
				{% endfor %}
			</ul>

			{% if program.description or aids %}
				<div id="tabpanel-program-description-panel" class="fr-tabs__panel at-tabs__panel--opaque {% if tabSelected == 'program-description' or tabSelected is null %}fr-tabs__panel--selected{% endif %}" role="tabpanel" aria-labelledby="tabpanel-program-description" tabindex="0">
					<h2 class="fr-mt-0 fr-mb-2w">Présentation générale</h2>
					{{ program.description | raw }}
					<section id="aid-list">
						<h2>{{ myPager.getNbResults }}
							aide
							{% if myPager.nbResults > 1 %}s
							{% endif %}
							liée
							{% if myPager.nbResults > 1 %}s
							{% endif %}
							au programme
							{{ program.name }}</h2>
						{% include 'aid/aid/_search_meta.html.twig' %}
						{% include "aid/aid/_search_form.html.twig" %}

						{% include 'aid/aid/_aid_result_as_list.html.twig' with {'aids': myPager.currentPageResults} %}

						<div class="fr-grid-row" id="aids-as-card">
							{% for aid in myPager.currentPageResults %}
								<div class="fr-col-xs-12 fr-col-md-4 fr-p-3w">
									{% include 'aid/aid/_aid_result.html.twig' %}
								</div>
							{% endfor %}
						</div>

						{% if myPager.nbPages > 1 %}
							<div class="fr-container fr-grid-row fr-grid-row--center fr-my-5w">
								{{ pagerfanta(myPager) }}
							</div>
						{% endif %}
					</section>
				</div>
			{% endif %}

			{% for tab in program.pageTabs %}
				{% if tab.active %}
					<div id="tabpanel-{{ tab.name }}-panel" class="fr-tabs__panel at-tabs__panel--opaque {% if tabSelected == tab.name %}fr-tabs__panel--selected{% endif %}" role="tabpanel" aria-labelledby="tabpanel-{{ tab.name }}" tabindex="0">
						<h2 class="fr-mt-0 fr-mb-2w">{{ tab.name }}</h2>
						{% if tab.description %}
							{{ tab.description|sanitize_html|raw }}
						{% endif %}
						{% for faq in tab.faqs %}
							{% if faq.latestUpdateTime %}
								<p>Mis à jour le
									{{ faq.latestUpdateTime|format_datetime('long', 'none', locale='fr') }}</p>
							{% elseif faq.timeUpdate %}
								<p>Mis à jour le
									{{ faq.timeUpdate|format_datetime('long', 'none', locale='fr') }}</p>
							{% endif %}
							<div class="fr-accordions-group">
								{% for faq_category in faq.faqCategories %}
									<div class="fr-accordion">
										<h3 class="fr-accordion__title fr-grid-row">
											<button type="button" class="fr-accordion__btn fr-col-md-12 fr-background-alt" aria-expanded="false" aria-controls="cat-{{ faq_category.id }}">
												{{ faq_category.name }}
											</button>
										</h3>
										<div id="cat-{{ faq_category.id }}" class="fr-collapse">
											<div class="fr-accordions-group">
												{% for faq in faq_category.faqQuestionAnswsers %}
													<div class="fr-accordion">
														<h4 class="fr-accordion__title fr-grid-row">
															<button type="button" class="fr-accordion__btn fr-col-md-12" aria-expanded="false" aria-controls="{{ faq.id }}">
																{{ faq.question }}
															</button>
														</h4>
														<div id="{{ faq.id }}" class="fr-collapse">
															{% if faq.answer %}
																<div>
																	{{ faq.answer|sanitize_html|raw }}
																</div>
															{% endif %}
														</div>
													</div>
												{% endfor %}
											</div>
										</div>
									</div>
								{% endfor %}
							</div>
						{% endfor %}
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
</article>{% endblock %}{% block javascriptsBottom %}
{{ parent() }}
{% cspscript %}
<script>
	var CURRENT_SEARCH = '{{ querystring }}';
var PERIMETER_NAME = '{{ perimeterName }}';
var CATEGORIES_NAME = [];{% for categoryName in categoriesName %}CATEGORIES_NAME.push('{{ categoryName }}');{% endfor %}
var NB_RESULTS = {{ myPager.getNbResults() }};
</script>
{% endcspscript %}

{% if highlightedWords is defined and highlightedWords|length > 0 %}
	{% cspscript %}
	<script>
		const highlightedWords = [];{% for word in highlightedWords %}highlightedWords.push('{{ word }}');{% endfor %}
	</script>
	{% endcspscript %}
{% endif %}{% endblock %}
